@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  color: #232323;
}
body {
  width: 100%;
  height: 100vh;
}
.yelloment_bg {
  background: #fff;
  width: 100%;
  height: 100%;
}
.yelloment_bg .inner {
  padding: 0 1.6rem;
}
.yelloment_bg .inner p {
  margin-top: 1.2rem;
  font-size: 3vw;
  font-family: "Amatic SC", cursive;

  color: #463c30;
}
.yelloment_bg .inner .text {
  text-align: center;
}
.yelloment_logo {
  width: 12rem;
}
.yelloment_title {
  font-size: 14vw;
  font-weight: 700;
  font-family: "Amatic SC", cursive;
  color: #463c30;
  color: #ffc600;
}
.yelloment_logo img {
  width: 100%;
}
.yelloment_001 {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.6rem;
}
.yelloment_001 img {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
  box-sizing: border-box;
}
.yelloment_bg .made {
  position: absolute;
  bottom: 10vh;
  left: 1.6rem;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
.yelloment001 {
  text-align: center;
  display: flex;
  justify-content: center;
}
.yelloment_001 img {
  margin: 0 auto;
}
