@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --vh: 1vh;
}
.loading_counter {
  position: fixed;
  width: 100%;
  height: calc(var(--vh) * 30);
  top: 60%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  color: #fff;
  padding: 10vw;
  font-size: 10vw;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  pointer-events: none;
}
.lottie-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  width: 20% !important;
}
.loading_block_wrapper {
  width: 100%;
  height: calc(var(--vh) * 100);
  position: absolute;
}
.loading_block {
  position: fixed;
  width: 100%;
  height: 6vh;
  background: #000;
  z-index: 101;
}
.block-1 {
  top: 0;
}
.block-2 {
  top: 5vh;
}
.block-3 {
  top: 10vh;
}
.block-4 {
  top: 15vh;
}
.block-5 {
  top: 20vh;
}
.block-6 {
  top: 25vh;
}
.block-7 {
  top: 30vh;
}
.block-8 {
  top: 35vh;
}
.block-9 {
  top: 40vh;
}
.block-10 {
  top: 45vh;
}
.block-11 {
  top: 50vh;
}
.block-12 {
  top: 55vh;
}
.block-13 {
  top: 60vh;
}
.block-14 {
  top: 65vh;
}
.block-15 {
  top: 70vh;
}
.block-16 {
  top: 75vh;
}
.block-17 {
  top: 80vh;
}
.block-18 {
  top: 85vh;
}
.block-19 {
  top: 90vh;
}
.block-20 {
  top: 95vh;
}
#lottie {
  width: 80%; /* 부모 요소의 50% 너비 */
  height: 80%; /* 부모 요소의 50% 높이 */
}
@media screen and (max-width: 450px) {
  .loading_counter {
    width: 100%;
  }
  .loading_block_container {
    width: 100%;
  }
  .loading_counter {
    font-size: 20vw;
  }
  .lottie-container {
    width: 50% !important;
  }
}
