@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  box-sizing: border-box;
}
html {
  width: 100vw;
  font-size: 10px;
  color: #262523;
  overflow-x: hidden;
}
body {
  min-width: 192rem;
}
.agripa_001 {
  width: 100vw;
  height: 100vh;
}
.agripa_001_logo_wrap {
  padding-left: 8vw;
  padding-top: 6vh;
  position: relative;
  z-index: 2;
}
.agripa_001_text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  top: 25vh;
}
.agripa_001_logo {
  width: 10rem;
  height: 3rem;
  background: url(../images/agripa/agripa_001_logo.svg) center center / 100%
    auto no-repeat;
  object-fit: cover;
}
.agripa_001_text_wrap div:nth-child(1) {
  margin-top: 4rem;
  font-size: 5vw;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;

  letter-spacing: -0.3vw;
}
.agripa_001_text_wrap div:nth-child(2) {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 2rem;
  line-height: 1.5;
}
.agripa_001_desc {
  margin-top: 4rem;
  font-size: 1.6rem;
  color: #232323;
  width: 26vw;
  word-break: keep-all;
  text-align: center;
}
.agripa_001_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.agripa_001_bg video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}
.scroll-downs {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 34px;
  height: 55px;
  z-index: 2;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #232323;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #232323;
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
.agripa_002 {
  width: 100vw;
  height: 100vh;
  padding: 8rem 0;
  background: #e7ebee;
}
.agripa_subject_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  justify-content: center;
}
.agripa_002_container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.agripa_text_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(35, 35, 35, 0.6);
}
.agripa_title {
  font-weight: 700;
  font-size: 4vw;
  line-height: 150%;
  color: #262523;
}
.agripa_002 {
  width: 100vw;
  height: 100vh;
  background: #56ba70;
  position: relative;
}
.agripa_002_text_wrap {
  width: 27vw;
  color: #fff;
  position: relative;
  left: 10vw;
  top: 0vh;
  word-break: keep-all;
  line-height: 1.3;
}
.agripa_002_text_wrap div:nth-child(1) {
  font-size: 3vw;
  font-weight: 700;
}
.agripa_002_text_wrap div:nth-child(2) {
  font-size: 16px;
  margin-top: 1rem;
  opacity: 0.6;
}
.agripa_002_main {
  position: absolute;
  top: 58%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 33vw;
  max-width: 53rem;
  max-height: 47rem;
  height: 30vw;
  background: url(../images/agripa/agripa_002_main.png) center center / 100%
    100% no-repeat;
  object-fit: cover;
  z-index: 99;
}
.agripa_002_percent {
  display: flex;
  align-items: center;
  gap: 4rem;
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  bottom: 14vh;
  left: 30%;
}
.agripa_002_percent div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.agripa_002_percent > div > div:nth-child(1) {
  width: 2rem;
  height: 2rem;
  border-radius: 30px;
}
.agripa_002_percent > div > div:nth-child(2) {
  font-size: 32px;
  font-weight: 700;
}
.agripa_002_percent > div > div:nth-child(3) {
  width: 150px;
  word-break: keep-all;
  line-height: 1.3;
}
.agripa_002_percent .circle01 {
  background: #b1e985;
}
.agripa_002_percent .circle02 {
  background: #a5f1a6;
}
.agripa_002_percent .circle03 {
  background: #97e7d5;
}
.agripa_003 {
  height: 100vh;
  position: relative;
  background: #e7ebee;
}
.box_wrap {
  display: flex;
  height: 66vh;
  transform-origin: 100% 100%;
  margin-right: 63vw;
  transform: rotate(180deg);
  margin-top: -98vh;
  gap: 60px;
}
.box01 {
  width: 150px;
  height: 0%;
  background: #97e7d5;
}
.box01 span {
  display: flex;
  height: 40vh;
  line-height: 40px;
  text-align: right;
  /*   width: 75%; */
  /*   background-color:pink; */
  border-radius: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color: white;
  transform: rotate(180deg);
}
.box02 {
  width: 150px;
  height: 0%;
  background: #a5f1a6;
  transform-origin: 0 100%;
}
.box03 {
  width: 150px;
  height: 0%;
  background: #b1e985;
  transform-origin: 0 100%;
}
.agripa_003_main {
  position: absolute;
  bottom: 0%;
  left: 10%;
  width: 40vw;
  height: 41vw;
  background: url(../images/agripa/agripa_003_hand.png) center center / 100%
    100% no-repeat;
  object-fit: cover;
  z-index: 99;
}
.agripa_003_text_wrap {
  padding: 10vw 0 0 8vw;
}
.agripa_003_text_wrap div:nth-child(2) {
  margin-top: 4rem;
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.agripa_003_text_wrap p {
  margin-top: 2rem;
  font-size: 1.6rem;
  width: 28vw;
  word-break: keep-all;
  line-height: 1.5;
  letter-spacing: -0.5px;
}
.agripa_003_logo {
  width: 24vw;
  height: 6vw;
  background: url(../images/agripa/agripa_003_logo.svg) center center / 100%
    auto no-repeat;
  object-fit: cover;
}
.agripa_003_desc_wrap {
  position: absolute;
  right: 10vw;
  top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.agripa_003_desc.detail01 {
  margin-left: -10vw;
}
.agripa_003_desc.detail02 {
}
.agripa_003_desc.detail03 {
  margin-left: -10vw;
}
.agripa_003_desc.detail04 {
}
.agripa_003_desc .title {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  z-index: 100;
  display: inline-block;
}
.agripa_003_desc .title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  top: -12px;
  right: 0;
  z-index: -1;
}
.agripa_003_desc.detail01 .title::before {
  background: #81bcdd;
  right: -10%;
}
.agripa_003_desc.detail02 .title::before {
  background: #f249a4;
  right: -10%;
}
.agripa_003_desc.detail03 .title::before {
  background: #ffd84c;
  right: -10%;
}
.agripa_003_desc.detail04 .title::before {
  background: #7ac786;
  right: -10%;
}
.agripa_003_desc ul {
  margin-top: 1rem;
  font-size: 1.4rem;
  opacity: 0.6;
  line-height: 1.3;
}
.agripa_004 {
  width: 100vw;
  height: 100%;
  position: relative;
}
.agripa_sub_title {
  font-size: 3.2rem;
  padding-top: 10rem;
  padding-left: 10vw;
  font-weight: 700;
  position: relative;
  z-index: 100;
  margin: 0 auto;

  font-family: "Montserrat", sans-serif;
}
.agripa_sub_desc {
  font-size: 1.6rem;
  margin-top: 1rem;
  padding-left: 10vw;
  position: relative;
  z-index: 100;
  width: 27vw;
  word-break: keep-all;
  line-height: 1.5;
}
.agripa_004_bg {
  position: absolute;
  bottom: -14vh;
  right: -12%;
  width: 100vw;
  max-width: 120rem;
  max-height: 120rem;
  height: 73vw;
  background: url(../images/agripa/agripa_004_bg.svg) center center / 100% 100%
    no-repeat;
  object-fit: cover;
  opacity: 0.5;
}
.agripa_004_main {
  position: absolute;
  top: 24rem;
  left: 7vw;
  width: 60vw;
  height: 29vw;
  background: url(../images/agripa/agripa004_main.svg) center center / 100% 100%
    no-repeat;
  object-fit: cover;
}
.agripa_005 {
  position: relative;
  height: 109rem;
}

.agripa_005 .swiper {
  position: relative;
  top: 19.8rem;
  width: 192rem;
}
.agripa_005 .swiper-slide img {
  width: 100%;
  height: auto;
}
.agripa_005_main {
  width: 192rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: 75.52rem;
  z-index: 100;
}
.agripa_005_main_img {
  width: 35rem;
  height: 73.5rem;
  background: url(../images/agripa/agripa005_main.png) center center / 100% 100%
    no-repeat;
  object-fit: cover;
  z-index: 100;
  margin-top: 12.2rem;
  margin-left: 69.4rem;
  filter: drop-shadow(40px 40px 40px rgba(47, 53, 66, 0.2));
}
.agripa_005_main_circle {
  width: 60rem;
  height: 60rem;
  background-color: #56ba70;
  border-radius: 50%;
  position: relative;
}
.c1 {
  position: absolute;
  top: -10%;
  left: 0%;
}
.c2 {
  position: absolute;
  width: 30rem;
  height: 30rem;
  bottom: 10%;
  right: 10%;
}
.agripa_006 {
  padding: 0 0 10rem;
  background: #e7ebee;
}
.agripa_006_flex {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}
.agripa_006_title_wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.agripa_006_title_wrap > div:nth-child(1) {
  font-size: 4rem;
  font-weight: 700;
  color: #56ba70;
}
.agripa_006_title_wrap > div:nth-child(2) {
  font-size: 1.6rem;
  color: #232323;
  font-weight: 400;
}
.agripa_006_main_001 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
  align-items: center;
  width: 12%;
}
.agripa_006_main_001 > div:nth-child(1) {
  background: #56ba70;
  color: #fff;
  font-weight: 700;
  padding: 1.2rem 2rem;
  border-radius: 30px;
}
.agripa_006_main_001 > div:nth-child(2) {
  background: transparent;
}
.agripa_006_main_001 img {
  border-radius: 42px;
  width: 100%;
  box-shadow: -51.5423px 51.5423px 110.448px -46.0199px rgba(0, 0, 0, 0.3);
}
.agripa_006_main_img {
  width: 10%;
  border-radius: 8px;
  overflow: hidden;
}
.agripa_006_main_img img {
  width: 100%;
  filter: drop-shadow(40px 40px 40px rgba(47, 53, 66, 0.2));
}
.agripa_007 {
  padding: 0 0 10rem;
}
.agripa_007_text_wrap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-left: 6rem;
}
.agripa_007_text_wrap > div:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
  color: #56ba70;
}
.agripa_007_text_wrap > div:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 400;
}
.agripa_007_swiper {
  margin-top: 20rem;
  width: 120rem;
  filter: drop-shadow(40px 40px 40px rgba(47, 53, 66, 0.2));
}
.agripa_007_swiper .swiper-slide {
  height: 80rem;
}
.agripa_007_swiper .swiper-slide img {
  margin-top: 2rem;
  height: 78%;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
.agripa_008 {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  background: #e7ebee;
}
.agripa_008_wrap {
  width: 192rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.agripa_008_text_wrap {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 50rem;
  padding: 10rem;
}
.agripa_008_text_flex {
  display: flex;
  justify-content: space-between;
}
.agripa_008_title {
  background: #56ba70;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  border-radius: 4px;
}
.agripa_008_desc_wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 18.5rem;
}
.agripa_008_desc_wrap > div > div:nth-child(1) {
  font-size: 1.4rem;
}
.green_desc {
  font-size: 2rem;
  font-weight: 700;
  color: #56ba70;
}
.agripa_008_wrap > div:nth-child(2) {
  text-align: right;
  width: 50%;
}
.agripa_008_wrap img {
  width: 127%;
  height: 100%;
}
.agripa_008_desc_wrap > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 450px) {
  body {
    min-width: 100%;
  }
  .mo_no {
    display: none;
  }
  .mo_block {
    display: block;
  }
  .agripa_001 {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .agripa_001_text_wrap {
    padding: 0 1.6rem;
  }
  .agripa_001_text_wrap div:nth-child(1) {
    padding-top: 4rem;
    font-size: 16vw;
    letter-spacing: -0.8vw;
    width: 100%;
    border: none;
    text-align: center;
    margin-top: 0;
  }
  .agripa_001_text_wrap div:nth-child(2) {
    width: 80%;
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem auto;
  }
  .agripa_001_main {
    top: 40rem;
    width: 56vw;
    height: 116vw;
  }
  .agripa_001_bg {
    width: 130vw;
    height: 260vw;
    top: 0;
    mix-blend-mode: multiply;
  }
  .scroll-downs {
    bottom: 8rem;
    margin: 0;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .agripa_002 {
    padding: 8rem 0;
    width: 100%;
  }
  .agripa_002_text_wrap {
    width: 100%;
    left: 0;
    padding: 1.6rem;
    box-sizing: border-box;
  }
  .agripa_002_text_wrap div:nth-child(1) {
    font-size: 3.6rem;
  }
  .box_wrap {
    height: 50vh;
    margin-top: -56vh;
    width: 60%;
    gap: 2rem;
    margin-left: -32vw;
  }
  .agripa_002_main {
    width: 68vw;
    height: 60vw;
    left: 50%;
    top: 57%;
  }
  .agripa_002_percent {
    right: 5vw;
    flex-direction: column;
    bottom: 10%;
    gap: 1rem;
  }
  .agripa_003 {
    width: 100%;
    padding: 4rem 0;
    height: auto;
  }
  .agripa_003_logo {
    width: 50vw;
    height: 10vw;
  }
  .agripa_003_text_wrap div:nth-child(2) {
    font-size: 2.4rem;
    line-height: 1.5;
    margin-top: 2rem;
    font-weight: 700;
    width: 100%;
  }
  .agripa_003_main {
    width: 116vw;
    height: 116vw;
    top: 2rem;
    left: -80%;
    position: relative;
  }
  .agripa_003_text_wrap {
    padding: 0rem 1.6rem;
  }
  .agripa_003_text_wrap p {
    width: 100%;
  }
  .agripa_003_desc_wrap {
    position: relative;
    top: 0;
    gap: 4rem;
    right: 0;
    padding: 0 1.6rem;
  }
  .agripa_003_desc.detail01,
  .agripa_003_desc.detail03 {
    margin-left: 0;
  }
  .agripa_004 {
    width: 100%;
    box-sizing: border-box;
    height: 80%;
    overflow: hidden;
  }
  .agripa_004_bg {
    width: 85vw;
    height: 85vw;
    opacity: 0.5;
    position: relative;
    margin-top: 10rem;
    margin-left: 10rem;
  }
  .agripa_004_main {
    top: 32%;
    left: 0;
    width: 100vw;
    height: 50vw;
  }
  .agripa_sub_title {
    font-size: 2rem;
    padding-top: 4rem;
    line-height: 1.5;
    padding-left: 0;
    text-align: center;
  }
  .agripa_sub_desc {
    font-size: 1.6rem;
    width: 100%;
    padding: 0 1.6rem;
    box-sizing: border-box;
    text-align: center;
  }
  .agripa_005 {
    width: 100%;
    padding: 0 1.6rem;
    height: 120%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .agripa_005 .swiper {
    width: 100%;
    margin-left: 10vw;
    top: 15.5rem;
  }
  .agripa_005_main {
    width: 100%;
    top: 12rem;
    left: 61vw;
  }
  .agripa_005_main_img {
    width: 64vw;
    height: 132vw;
    margin: 0;
    margin-top: 4.8rem;
  }
  .agripa_005_main_circle.c1 {
    width: 80vw;
    height: 80vw;
    top: 2vh;
    left: -44%;
  }
  .agripa_005_main_circle.c2 {
    width: 30vw;
    height: 30vw;
  }
  .agripa_006 {
    width: 100%;
    padding: 0 1.6rem;
    box-sizing: border-box;
  }
  .agripa_006_flex {
    width: 100%;

    flex-direction: column;
    margin-top: 0rem;
    gap: 2rem;
    padding: 4rem 0 10rem;
  }
  .agripa_006_main_img {
    width: 60%;
    border-radius: 8px;
    overflow: hidden;
  }
  .agripa_006_main_001 {
    width: 80%;
  }
  .agripa_006_title_wrap {
    gap: 0.8rem;
  }
  .agripa_006_title_wrap > div:nth-child(1) {
    font-size: 3.2rem;
  }
  .agripa_006_main_001 > div:nth-child(2) {
    width: 78%;
  }
  .agripa_007 {
    width: 100%;
    box-sizing: border-box;
  }
  .agripa_007_text_wrap {
    text-align: center;
    margin: 0;
    margin-top: 2rem;
  }
  .agripa_007_swiper {
    width: 100%;
    margin-top: 4rem;
  }
  .agripa_007_swiper .swiper-slide {
    height: 50rem;
  }
  .agripa_007_swiper .swiper-slide img {
    height: 80%;
    margin-top: 0;
  }
  .swiper-pagination {
    bottom: 0 !important;
  }
  .agripa_008 {
    width: 100%;
    box-sizing: border-box;
  }
  .agripa_008_wrap {
    flex-direction: column;
  }
  .agripa_008_text_wrap {
    width: 100%;
    padding: 8rem 1.6rem;
    box-sizing: border-box;
  }
  .agripa_008_title {
    font-size: 1.4rem;
  }
  .agripa_008_wrap > div:nth-child(2) {
    width: 100vw;
    overflow: hidden;
  }
  .agripa_008_wrap img {
    width: 100%;
  }
}
