@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 10px;
  color: #262523;
  font-family: "Noto Sans KR", sans-serif;
}
.agripa_001 {
  width: 100vw;
  height: 100vh;
}

.agripa_001_logo_wrap {
  padding-left: 10vw;
  padding-top: 8vw;
}
.agripa_001_text_wrap {
  padding-left: 10vw;
}
.agripa_001_logo {
  width: 10rem;
  height: 3rem;
  background: url(../images/agripa/cueat_001_logo.svg) center center / 100% auto
    no-repeat;
  object-fit: cover;
}
.agripa_001_text_wrap div:nth-child(1) {
  margin-top: 4rem;
  font-size: 8vw;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.3vw;
  border-bottom: 3px solid #262523;
  width: 32%;
}
.agripa_001_text_wrap div:nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 2rem;
  line-height: 1.5;
}

.agripa_001_desc {
  margin-top: 4rem;
  font-size: 1.6rem;
  color: #6b6b6b;
  width: 26vw;
  word-break: keep-all;
}
.agripa_001_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 61.1rem;
  background: url(../images/agripa/agripa_001_main.png) center center / 100%
    100% no-repeat;
  object-fit: cover;
  z-index: 99;
  filter: drop-shadow(142px 215px 103px rgba(0, 0, 0, 0.01))
    drop-shadow(80px 121px 87px rgba(0, 0, 0, 0.05))
    drop-shadow(36px 54px 64px rgba(0, 0, 0, 0.09))
    drop-shadow(9px 13px 35px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
.agripa_001_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: url(../images/agripa/agripa_001_bg.jpg) center center / 100% 100%
    no-repeat;
  object-fit: cover;
}
.agripa_002 {
  width: 100vw;
  height: 100vh;
  padding: 16rem 0;
  background: #f0fcf8;
}
.agripa_subject_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.agripa_002_container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.agripa_text_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: rgba(35, 35, 35, 0.6);
}
.agripa_title {
  font-weight: 700;
  font-size: 4vw;
  line-height: 150%;
  color: #262523;
}
.agripa_002 {
  width: 100vw;
  height: 100vh;
  background: #4eac62;
  position: relative;
}
.agripa_002_text_wrap {
  width: 24vw;
  color: #fff;
  position: relative;
  left: 10vw;
  top: 0vh;
  word-break: keep-all;
  line-height: 1.3;
}
.agripa_002_text_wrap div:nth-child(1) {
  font-size: 4vw;
  font-weight: 700;
}
.agripa_002_text_wrap div:nth-child(2) {
  font-size: 16px;
  margin-top: 1rem;
  opacity: 0.6;
}
.agripa_002_main {
  position: absolute;
  top: 66%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 33vw;
  max-width: 60rem;
  max-height: 54rem;
  height: 30vw;
  background: url(../images/agripa/agripa_002_main.png) center center / 100%
    100% no-repeat;
  object-fit: cover;
  z-index: 99;
  filter: drop-shadow(142px 215px 103px rgba(0, 0, 0, 0.01))
    drop-shadow(80px 121px 87px rgba(0, 0, 0, 0.05))
    drop-shadow(36px 54px 64px rgba(0, 0, 0, 0.09))
    drop-shadow(9px 13px 35px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
.agripa_002_percent {
  display: flex;
  align-items: center;
  gap: 4rem;
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  bottom: 10vh;
  left: 30%;
}
.agripa_002_percent div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.agripa_002_percent > div > div:nth-child(1) {
  width: 2rem;
  height: 2rem;
  border-radius: 30px;
}
.agripa_002_percent > div > div:nth-child(2) {
  font-size: 32px;
  font-weight: 700;
}
.agripa_002_percent > div > div:nth-child(3) {
  width: 150px;
  word-break: keep-all;
  line-height: 1.3;
}
.agripa_002_percent .circle01 {
  background: #b1e985;
}
.agripa_002_percent .circle02 {
  background: #a5f1a6;
}
.agripa_002_percent .circle03 {
  background: #97e7d5;
}
.agripa_003 {
  height: 100vh;
  position: relative;
  background: #fff;
}
.agripa_004 {
  height: 100vh;
}
.box_wrap {
  display: flex;
  height: 70vh;
  transform-origin: 100% 100%;
  margin-right: 63vw;
  transform: rotate(180deg);
  margin-top: -98vh;
  gap: 60px;
}
.box01 {
  width: 150px;
  height: 0%;
  background: #97e7d5;
}
.box01 span {
  display: flex;
  height: 40vh;
  line-height: 40px;
  text-align: right;
  /*   width: 75%; */
  /*   background-color:pink; */
  border-radius: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color: white;
  transform: rotate(180deg);
}
.box02 {
  width: 150px;
  height: 0%;
  background: #a5f1a6;
  transform-origin: 0 100%;
}
.box03 {
  width: 150px;
  height: 0%;
  background: #b1e985;
  transform-origin: 0 100%;
}
.agripa_003_main {
  position: absolute;
  bottom: 0%;
  left: 10%;
  width: 40vw;
  height: 41vw;
  background: url(../images/agripa/agripa_003_hand.png) center center / 100%
    100% no-repeat;
  object-fit: cover;
  z-index: 99;
}
.agripa_003_text_wrap {
  padding: 10vw 0 0 8vw;
}
.agripa_003_text_wrap div:nth-child(2) {
  margin-top: 4rem;
  font-size: 1.6vw;
  font-weight: 700;
}
.agripa_003_text_wrap p {
  margin-top: 2rem;
  font-size: 1.4rem;
  width: 28vw;
  word-break: keep-all;
  line-height: 1.5;
}
.agripa_003_logo {
  width: 38vw;
  height: 7vw;
  background: url(../images/agripa/agripa_003_logo.svg) center center / 100%
    auto no-repeat;
  object-fit: cover;
}
.agripa_003_desc_wrap {
  position: absolute;
  right: 10vw;
  top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.agripa_003_desc.detail01 {
  margin-left: -10vw;
}
.agripa_003_desc.detail02 {
}
.agripa_003_desc.detail03 {
  margin-left: -10vw;
}
.agripa_003_desc.detail04 {
}
.agripa_003_desc .title {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  z-index: 100;
}
.agripa_003_desc .title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  top: -12px;
  right: 0;
  z-index: -1;
}
.agripa_003_desc.detail01 .title::before {
  background: #81bcdd;
  right: 64%;
}
.agripa_003_desc.detail02 .title::before {
  background: #f249a4;
  right: 40%;
}
.agripa_003_desc.detail03 .title::before {
  background: #ffd84c;
  right: 42%;
}
.agripa_003_desc.detail04 .title::before {
  background: #7ac786;
  right: 42%;
}
.agripa_003_desc ul {
  margin-top: 1rem;
  font-size: 1.4rem;
  opacity: 0.6;
  line-height: 1.3;
}
.agripa_004 {
  width: 100vw;
  height: 100vh;
  background: #cfe9d3;
}
