@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  color: #232323;
}

.cueat_001 {
  width: 100%;
  height: 100vh;
  background: #ffe54d;
}
.cueat_container {
  width: 120rem;
  margin: 0 auto;
}
.cueat_001 .cueat_text {
  top: 10vh;
  font-size: 4vw;
  position: relative;
  text-align: center;
}
.cueat_logo {
  width: 12rem;
  height: 5.4rem;
  background: url(../images/cueat_logo.png) center center / 100% auto no-repeat;
  object-fit: cover;
  position: relative;
  top: 4rem;
}
.cueat_title_bold {
  font-weight: 700;
  line-height: 1.4;
  color: #ff7800;
}
.cueat_title_regular {
  font-weight: 400;
  color: #232323;
}
.cueat_main_img {
  background: url(../images/cueat_main001.png) center center / 100% auto
    no-repeat;
  width: 45%;
  height: 60%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  bottom: 8vh;
  transform: translate(-50%, 0%);
}

.cueat_002 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #ffcc91;
}
.cueat_002 .cueat_text {
  width: 46rem;
  text-align: center;
  top: 15%;
  position: relative;
  margin: 0 auto;
  color: #232323;
}
.cueat_page_subject {
  font-size: 2rem;
  font-weight: 700;
  color: #ff7800;
}
.cueat_page_title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
}
.cueat_002 .cueat_page_title span {
  font-weight: 700;
}
.cueat_page_title_flex {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.cueat_page_txt {
  font-size: 1.6rem;
  margin-top: 2rem;
  line-height: 1.5;
  word-break: keep-all;
  opacity: 0.7;
  font-weight: 300;
}
.cueat_002 .cueat_page_title {
  margin-top: 2rem;
}
.cueat_002_image {
  background: url(../images/cueat_002.jpg) center center / 100% auto no-repeat;
  height: 62rem;
  position: relative;
  top: 0;
}
.cueat_003 .cueat_text {
  text-align: center;
  margin: 0 auto;
  color: #232323;
}
.cueat_003 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  flex-shrink: 0;
  text-align: center;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f8f8f8;
  padding: 10rem 0;
}
.cueat_003_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20rem;
  position: relative;
}
.cueat003_page_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  width: 70.5rem;
  letter-spacing: -0.01em;
  word-break: keep-all;
  color: rgba(35, 35, 35, 0.7);
  text-align: left;
}
.cueat003_dot_line {
  width: 128rem;
  height: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 500px;
  position: absolute;

  border-top: 1px dashed #2c2c2e;
}
.cueat_003_container .swiper {
  width: 100%;
  max-width: 128rem;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cueat_process {
  margin-top: 12rem;
}
.cueat_process_detail {
  height: 42rem;
  display: flex;
  flex-direction: column;
}
.yellow_circle {
  width: 18px;
  height: 18px;
  background: #ffca00;
  border-radius: 50%;
}
.cueat_process_wrap {
  width: 14.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}
.cueat_process_text_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
.cueat_process_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  color: #232323;
}
.cueat_process_desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  word-break: keep-all;
  text-align: center;

  color: rgba(35, 35, 35, 0.7);
}
.process1 {
  background: url(../images/cueat_process1.svg) center center / 100% auto
    no-repeat;
  width: 144px;
  height: 130px;
}
.process2 {
  background: url(../images/cueat_process2.svg) center center / 100% auto
    no-repeat;
  width: 144px;
  height: 130px;
}
.process3 {
  background: url(../images/cueat_process3.svg) center center / 100% auto
    no-repeat;
  width: 144px;
  height: 130px;
}
.process4 {
  background: url(../images/cueat_process4.svg) center center / 100% auto
    no-repeat;
  width: 144px;
  height: 130px;
}
.cueat_004 {
  padding: 16rem 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  flex-shrink: 0;
  text-align: center;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cueat_004_mockup {
  transform: scale(0.8);
  width: 30vw;
  height: 61.92vw;
  max-width: 431px;
  max-height: 890px;
  background: url(../images/cueat/cueat_004_14pro_mockup.svg) center center /
    100% 100% no-repeat;
  object-fit: cover;
  box-shadow: 142px 215px 103px rgba(0, 0, 0, 0.01),
    80px 121px 87px rgba(0, 0, 0, 0.05), 36px 54px 64px rgba(0, 0, 0, 0.09),
    9px 13px 35px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 80px;
}

.cueat_004_gif {
  width: 26vw;
  height: 50vw;
  max-width: 364px;
  max-height: 604px;
  background: url(../images/cueat/feature02_2.gif) center center / 100% 100%
    no-repeat;
  object-fit: cover;
  margin-top: 28%;
  margin-left: 2vw;
}
.cueat_page_text {
  display: flex;
  width: 70.5rem;
  padding: 0 16px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  word-break: keep-all;
  color: rgba(35, 35, 35, 0.7);
  margin-bottom: 4rem;
}
.cueat_survey_wrap {
  display: flex;
  gap: 10rem;
  margin-top: 10rem;
}
.cueat_survey_point {
  background: #232323;
  color: #fff;
  font-size: 1.4rem;
  display: inline-block;
  padding: 0 1.2rem;
  border-radius: 30px;
  margin-bottom: 0.8rem;
}
.cueat_survey_circle {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background: #ffe54d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.cueat_survey_text {
  font-size: 1.2rem;
  width: 15.8rem;
  line-height: 1.5;
  font-weight: 400;
  word-break: keep-all;
  color: rgba(35, 35, 35, 0.7);
}

.cueat_005 {
  display: flex;
  min-height: 100rem;
}
.cueat_005_wrap {
  width: 100%;
  display: flex;
  background: #ffe54d;
}
.cueat_005_swiper {
  background: #f8f1ea;
  width: 60%;
}
.cueat_005_swiper .swiper-wrapper {
  display: flex;
  justify-content: center;
}
.cueat_005_text_wrap {
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 43rem;
  line-height: 1.5;
  word-break: keep-all;
}
.cueat_005_text_wrap > div:nth-child(3) {
  font-size: 4rem;
}
.cueat_005_text_wrap > div:nth-child(3) > span {
  color: #ff7800;
  font-weight: 700;
}
.my-slider-box-2 {
  max-width: 128rem;
  width: 100%;
}
.cueat_005 .swiper-wrapper {
  margin: 0 auto;
}
.cueat_005 .swiper-slide {
  background: transparent;
}
.cueat005_001 {
  margin-top: 10rem;
}

.cueat005_001_img {
  background: url(../images/cueat005_001.png) center center / 100% 100%
    no-repeat;
  width: 20vw;
  height: 31.28vw;
  max-width: 280px;
  max-height: 605.9px;
  border-radius: 30px;
  box-shadow: 142px 215px 103px rgba(0, 0, 0, 0.01),
    80px 121px 87px rgba(0, 0, 0, 0.05), 36px 54px 64px rgba(0, 0, 0, 0.09),
    9px 13px 35px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.cueat005_003 {
  margin-top: -10rem;
}
.cueat005_002_img {
  background: url(../images/cueat005_002.png) center center / auto 100%
    no-repeat;
  width: 20vw;
  height: 31.28vw;
  max-width: 280px;
  max-height: 605.9px;
  border-radius: 30px;
  box-shadow: 142px 215px 103px rgba(0, 0, 0, 0.01),
    80px 121px 87px rgba(0, 0, 0, 0.05), 36px 54px 64px rgba(0, 0, 0, 0.09),
    9px 13px 35px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.cueat005_003_img {
  background: url(../images/cueat005_003.png) center center / auto 100%
    no-repeat;
  width: 20vw;
  height: 31.28vw;
  max-width: 280px;
  max-height: 605.9px;
  border-radius: 30px;
  box-shadow: 142px 215px 103px rgba(0, 0, 0, 0.01),
    80px 121px 87px rgba(0, 0, 0, 0.05), 36px 54px 64px rgba(0, 0, 0, 0.09),
    9px 13px 35px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.cueat_005_text_img {
  background: url(../images/cueat005_textimg.svg) center center / auto 100%
    no-repeat;
  width: 12.4rem;
  height: 12.4rem;
}
.cueat_005 .cueat_page_title_flex {
  margin-top: -12rem;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cueat_005 .cueat_page_text {
  width: 42.5rem;
  margin-top: 0.8rem;
}
.cueat_006 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  flex-shrink: 0;
  text-align: center;
  letter-spacing: -0.01em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;
}
.cueat_006_concept_grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  width: 150rem;
  height: 35em;
  margin-top: 8rem;
}
.cueat_006_grid001 {
  background: url(../images/cueat/cueat006_grid001.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
  grid-row: 1/3;
}
.cueat_006_grid002 {
  background: url(../images/cueat/cueat006_grid002.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.cueat_006_grid003 {
  background: url(../images/cueat/cueat006_grid003.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.cueat_006_grid004 {
  background: url(../images/cueat/cueat006_grid004.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.cueat_006_grid005 {
  background: url(../images/cueat/cueat006_grid005.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.cueat_007 {
  background-color: #ffe54d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 10rem 0;
}
.cueat_007 .cueat_text_container {
  text-align: center;
}
.cueat007_page_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 41.5rem;
  letter-spacing: -0.01em;
  word-break: keep-all;
  color: rgba(35, 35, 35, 0.7);
  text-align: left;
}
.my-slider-box-3 {
  width: 150rem;
  height: 74rem;
}
.cueat_review {
  flex-direction: column;
}
.cueat_review_img {
  width: 357px;
  height: 267px;
  border-radius: 10px 10px 0 0;
}
.cueat_review_desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  width: 357px;
  height: 215px;
  padding: 16px;
  line-height: 1.5;
  border-radius: 0 0 10px 10px;
}
.review_001 {
  background: url(../images/cueat/cueat_007_img001.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.review_002 {
  background: url(../images/cueat/cueat_007_img002.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.review_003 {
  background: url(../images/cueat/cueat_007_img003.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.review_004 {
  background: url(../images/cueat/cueat_007_img004.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.review_005 {
  background: url(../images/cueat/cueat_007_img005.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.review_006 {
  background: url(../images/cueat/cueat_007_img006.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
}
.cueat_tag {
  display: flex;
  gap: 4px;
  font-weight: 700;
}
.cueat_tag div {
  padding: 1px 8px;
  border: 1px solid #232323;
  border-radius: 30px;
  font-size: 14px;
}
.cueat_desc_text {
  font-size: 12px;
  text-align: left;
}
.cueat_008 {
  padding: 10rem 0;
  background: #f2f2f2;
}
.cueat_008_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  width: 150rem;
  margin: 0 auto;
  padding: 10rem 0;
}
.cueat_008_img_wrap {
  width: 100%;
}
.cueat_008_img_001 {
  background: url(../images/cueat/cueat_008_img001.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
  height: 47.4rem;
}
.cueat_008_img_002 {
  background: url(../images/cueat/cueat_008_img002.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
  height: 47.4rem;
}
.cueat_008_img_003 {
  background: url(../images/cueat/cueat_008_img003.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
  height: 47.4rem;
}
.cueat_008_img_004 {
  background: url(../images/cueat/cueat_008_img004.jpg) center center / 100%
    100% no-repeat;
  object-fit: cover;
  height: 47.4rem;
}
.cueat_009 {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cueat_009_flex01 {
  display: flex;
  margin-top: 10rem;
  gap: 14rem;
}
.cueat_009_flex02 {
  display: flex;
  gap: 14rem;
}
.cueat_009_symbol {
  background: url(../images/cueat/cueat_009_symbol.png) center center / auto
    100% no-repeat;
  width: 10.5rem;
  height: 7.9rem;
}
.cueat_009_logo {
  background: url(../images/cueat/cueat_009_logo.png) center center / auto 100%
    no-repeat;
  width: 25.7rem;
  height: 5.5rem;
}
.cueat_009_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.cueat_typo_ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.cueat_009 .typo_flex {
  display: flex;
}
.cueat_009 .typo_flex div:nth-child(1) {
  width: 82px;
  text-align: left;
}
.cueat_009 .typo_flex.h1 {
  font-size: 48px;
  font-weight: 700;
}
.cueat_009 .typo_flex.h2 {
  font-size: 40px;
  font-weight: 700;
}
.cueat_009 .typo_flex.h3 {
  font-size: 24px;
  font-weight: 700;
}
.cueat_009 .typo_flex.b1 {
  font-size: 18px;
  font-weight: 500;
}
.cueat_009 .typo_flex.b2 {
  font-size: 16px;
  font-weight: 500;
}
.cueat_009 .typo_flex.desc1 {
  font-size: 14px;
  font-weight: 400;
}
.cueat_009 .typo_flex.desc2 {
  font-size: 12px;
  font-weight: 400;
}
.cueat_009_color_grid_wrap {
  width: 100%;
  max-width: 120rem;
  margin-top: 8rem;
}
.cueat_009_color_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  max-width: 120rem;
}
.cueat_009_color_grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.cueat_009_color_grid div:nth-child(1) {
  grid-row: 1/4;
  background: #ffe54d;
  height: 36rem;
  align-items: center;
}
.cueat_009_color_grid div:nth-child(2) {
  background: #ff7800;
}
.cueat_009_color_grid div:nth-child(3) {
  background: #fd5959;
}
.cueat_009_color_grid div:nth-child(4) {
  background: #1eaa37;
}
.cueat_009_color_grid div:nth-child(5) {
  background: #7bbcff;
}
.cueat_009_color_grid div:nth-child(6) {
  background: #232323;
  color: #fff;
}
.cueat_009_color_grid div:nth-child(7) {
  background: #616161;
}
.cueat_010 {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cueat_010_wrap {
  width: 77.7rem;
  position: relative;
  top: -12rem;
}
.cueat_010_wrap div:nth-child(1) {
  font-size: 6rem;
  font-weight: 200;
}
.cueat_010_logo {
  background: url(../images/cueat/cueat_010_logo.png) center center / 100% auto
    no-repeat;
  width: 77.7rem;
  height: 16.7rem;
}
.cueat_010 .girl {
  background: url(../images/cueat/cueat_010_girl.svg) center center / 100% auto
    no-repeat;
  width: 24em;
  height: 47rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 10%);
}
.cueat_copylight {
  width: 100%;
  padding: 2.7vw 2.7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  position: absolute;
  bottom: 10px;
  border-top: 1px solid #232323;
}
@media screen and (max-width: 450px) {
  .mo_no {
    display: none;
  }
  html {
    font-size: 10px;
    overflow-x: hidden;
  }
  .cueat_page_subject {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    color: #ff7800;
  }
  .cueat_001,
  .cueat_002,
  .cueat_004 {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .cueat_logo {
    top: 1rem;
  }
  .cueat_container {
    width: 100%;
    padding: 1.6rem;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .cueat_001 .cueat_text {
    font-size: 10vw;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cueat_main_img {
    width: 100vw;
    top: calc(var(--vh, 1vh) * 40);
  }
  .cueat_page_title {
    font-size: 2.4rem;
    margin-top: 1.2rem;
  }
  .cueat_page_title_flex {
    flex-direction: column;
    margin-top: 0;
    line-height: 1.5;
  }
  .cueat_page_txt {
    font-size: 1.4rem;
    word-break: keep-all;
    text-align: left;
    width: 84%;
    margin: 0 auto;
    margin-top: 1.2rem;
  }
  .cueat_002 .cueat_text {
    width: 100%;
  }
  .cueat_002_image {
    top: 20%;
    height: 30rem;
    transform: scale(1.3);
  }
  .cueat_003 {
    padding: 8rem 1.6rem;
    margin-bottom: 8rem;
    height: auto;
  }
  .cueat003_page_text {
    display: flex;
    width: 84%;
    padding: 0 16px;
    font-size: 1.4rem;
    text-align: left;
    word-break: keep-all;
    margin: 0 auto;
    line-height: 1.5;
  }
  .cueat_003_container {
    gap: 0;
  }
  .cueat_003_container .swiper {
    width: 100%;
  }
  .cueat_process_detail {
    height: 50rem;
  }
  .cueat_process {
    margin-top: 0;
  }
  .swiper {
    width: 100%;
  }
  .cueat_003 .swiper-pagination {
    bottom: -4px;
  }
  .cueat003_dot_line {
    width: 100%;
    height: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 217px;
    position: absolute;

    border-top: 1px dashed #2c2c2e;
  }
  .cueat_page_text {
    width: 100%;
    margin-bottom: 0;
  }
  .cueat_004 {
    padding: 10rem 1.6rem;
    height: auto;
  }
  .cueat_004_mockup {
    transform: scale(0.5);
    margin-top: -10rem;
    width: 431px;
    height: 890px;
  }
  .cueat_004_gif {
    width: 364px;
    height: 604px;
    margin-top: 33%;
    margin-left: 7%;
  }
  .cueat_survey_wrap {
    flex-direction: column;
    gap: 4rem;
    margin-top: -10rem;
  }
  .cueat004_page_text {
    display: flex;
    width: 96%;
    padding: 0 16px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    word-break: keep-all;
    margin: 0 auto;
    color: rgba(35, 35, 35, 0.7);
    margin-bottom: 4rem;
  }
  .cueat_005 {
    height: auto;
  }
  .cueat_005_wrap {
    flex-direction: column-reverse;
  }
  .cueat_005 .swiper-wrapper {
    width: 100% !important;
    justify-content: flex-start;
  }
  .cueat_005_text_wrap {
    padding: 8rem 4rem;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .cueat005_001,
  .cueat005_002 {
    margin: 0;
  }
  .cueat_005_swiper {
    width: 100%;
    background: #fff;
  }
  .cueat_005 .swiper-slide {
    padding: 8rem 0;
    width: 100vw !important;
  }
  .cueat_005_text_wrap > div:nth-child(3) {
    font-size: 2.8rem;
    width: 100%;
  }
  .cueat_005_swiper .swiper-pagination {
    padding-top: 5rem;
  }
  .cueat005_001_img,
  .cueat005_002_img,
  .cueat005_003_img {
    width: 231px;
    height: 500px;
  }
  .cueat_006 {
    height: auto;
    padding: 8rem 0 0;
  }
  .cueat_006_concept_grid {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    margin-top: 4rem;
    grid-gap: 1rem;
  }
  .cueat_006_grid001 {
    height: 594px;
  }
  .cueat_006_grid002 {
    height: 272px;
  }
  .cueat_006_grid003 {
    height: 272px;
  }
  .cueat_006_grid004 {
    height: 272px;
  }
  .cueat_006_grid005 {
    height: 272px;
  }
  .cueat_007 {
    height: auto;
    padding: 10rem 0;
    gap: 2rem;
  }
  .cueat007_page_text {
    width: 100%;
    padding: 0 1.6rem;
  }
  .my-slider-box-3 {
    height: 58rem;
  }
  .cueat_008 {
    height: auto;
  }
  .cueat_008_wrap {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 6rem;
  }
  .cueat_008_img_title {
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .cueat_008_img_001,
  .cueat_008_img_002,
  .cueat_008_img_003,
  .cueat_008_img_004 {
    height: 26.4rem;
  }
  .cueat_009 {
    padding: 4rem 1.6rem;
    height: auto;
    align-items: flex-start;
  }
  .cueat_009_title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .cueat_009_flex01 {
    margin-top: 4rem;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  .cueat_009_flex02 {
    gap: 4rem;
  }
  .cueat_009_symbol {
    width: 8rem;
    height: 6rem;
  }
  .cueat_009_logo {
    width: 20rem;
    height: 4.28rem;
  }
  .cueat_typo_ul {
    border: 1px solid #232323;
    padding: 2rem;
  }
  .cueat_009_color_grid_wrap {
    margin-top: 4rem;
  }
  .cueat_009_color_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    width: 100%;
  }
  .cueat_009_color_grid div:nth-child(1) {
    grid-row: 1/4;
    height: 16rem;
  }
  .cueat_010 {
    height: 100vh;
    padding: 0 1.6rem;
    margin-top: -10rem;
  }
  .cueat_010_wrap {
    width: 100%;
    top: -16rem;
  }
  .cueat_010_wrap div:nth-child(1) {
    font-size: 3rem;
  }
  .cueat_010_logo {
    width: 100%;
    height: 10rem;
  }
  .cueat_copylight {
    font-size: 14px;
    flex-direction: column;
    padding: 5vw;
    line-height: 1.5;
  }
}
