@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
:root {
  --gray500: #454545;
  --primary: #3e9bfb;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  color: var(--gray500);
  line-height: 1.3;
}
.mo_span {
  display: block;
}
.mo_block {
  display: inline-block;
}

.hems_001 {
  background: #fff;
  height: 100vh;
}
.hems_title_wrap {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--gray500);
}
.hems_001 .logo {
  background: url(../images/hems/hems_logo.svg) center center / 100% auto
    no-repeat;
  width: 274px;
  height: 67px;
}
.hems_001_main {
  background: url(../images/hems/hems_001_main.jpg) center center / 100% auto
    no-repeat;
  width: 40.31vw;
  height: 42.7vw;
  position: absolute;
  right: 0;
  bottom: 0;
}
.hems_001_desc {
  font-size: 2rem;
  font-weight: 500;
}
.hems_banner {
  background: var(--primary);
  color: #fff;
  padding: 20rem 0;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}
.hems_banner .desc {
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
}
.hems_002 {
  padding: 20rem 0;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  height: auto;
}
.hems_002 .contents {
  max-width: 128rem;
  margin: 0 auto;
}
.hems_002 .text_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.hems_002 .title_wrap {
  display: flex;
  align-items: center;
}
.hems_002 .bell {
  background: url(../images/hems/bell.svg) center center / 100% auto no-repeat;
  width: 6.2rem;
  height: 6.2rem;
}
.hems_002 .main_title {
  font-size: 5rem;
  font-weight: 700;
}

.hems_002 .pain_point_container {
  display: flex;
  justify-content: center;
}
.hems_002 .pain_point_container > div {
  width: 20vw;
  height: 20vw;
  max-width: 36rem;
  max-height: 36rem;
  border-radius: 50%;
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hems_002 .pain_point_container > div:nth-child(2) {
  background: url(../images/hems/hems_002_main.jpg) center center / 100% auto
    no-repeat;
  border: none;
}
.hems_002 .pain_point_wrap {
}
.hems_002 .pain_point_wrap > div:nth-child(1) {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  background: var(--gray500);
  padding: 0.4rem 1.2rem;
  border-radius: 3rem;
  margin-bottom: 1.2rem;
}
.hems_002 .pain_point_wrap > div:nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.hems_002 .pain_point_wrap > div:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.hems_002 div:nth-child(1) > div > div:nth-child(4) {
  background: url(../images/hems/pain_interview001.svg) center center / 100%
    auto no-repeat;
  width: 7vw;
  height: 7vw;
  margin: 0 auto;
}
.hems_002 div:nth-child(3) > div > div:nth-child(4) {
  background: url(../images/hems/pain_interview003.svg) center center / 100%
    auto no-repeat;
  width: 7vw;
  height: 7vw;
  margin: 0 auto;
}

.hems_003 {
  display: flex;
  flex-direction: column;
  padding: 16rem 0;
  gap: 16rem;
  max-width: 128rem;
  margin: 0 auto;
}

.hems_003_wrap {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.hems_003 .chart_talk_wrap {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.hems_003 .user_flow_wrap,
.hems_003 .chart_wrap,
.hems_003 .talk_wrap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.hems_003 .title,
.hems_003 .title,
.hems_003 .title {
  font-size: 2rem;
  font-weight: 700;
}
.hems_003 .user_flow_img {
  background: url(../images/hems/userflow.svg) center center / 100% auto
    no-repeat;
  width: 36vw;
  height: 25vw;
}
.hems_003 .chart_img {
  background: url(../images/hems/chart_img.svg) center center / 100% auto
    no-repeat;
  width: 18.85vw;
  height: 14.27vw;
}
.hems_003 .talk_img {
  background: url(../images/hems/talk_img.svg) center center / 100% auto
    no-repeat;
  width: 18.85vw;
  height: 14vw;
}
.journey_map_wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.hems_003 .journey_map_img {
  background: url(../images/hems/journeymap_img.svg) center center / 100% auto
    no-repeat;
  width: 60vw;
  height: 30vw;
  margin: 0 auto;
}
.hems_004 .text_wrap01 {
  font-size: 5vw;
  font-weight: 700;
}
.hems_004 .text_wrap01 .text_flex {
  display: flex;
}
.hems_004 .text_wrap01 .border_text {
  text-shadow: -1px 0 var(--gray500), 0 1px var(--gray500), 1px 0 var(--gray500),
    0 -1px var(--gray500);
  color: transparent;
}
.hems_004 .text_wrap01 {
}
@media screen and (max-width: 450px) {
  .hems_title_wrap {
    top: 30%;
    left: 50%;
  }
  .hems_001_main {
    width: 80vw;
    height: 83vw;
  }

  .mo_span {
    display: inline-block;
  }
  .mo_block {
    display: block;
  }
}
