@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
:root {
  --marquee-width: 100vw;
  --marquee-height: 8vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 8;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  /* color */
  --primary: #6c79f9;
  --borderColor: #232323;
  --textColor: #71707d;
  --mainText: #464555;
}
img {
  width: 100%;
}
html,
body {
  font-size: 10px;

  background-color: #fff;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  color: #464555;
}
.mo_span {
  display: block;
}
.link_header {
  position: fixed;
  z-index: 990;
  background-color: #fff;
  top: 0;
  width: 100%;
  height: 4vh;
  margin-top: 8px;
  display: flex;
  align-items: center;
  padding-left: 6vw;
  font-size: 2vh;
  border-bottom: 1px solid var(--borderColor);
}
.link_header img {
  width: 4%;
}
.link_section_container {
  display: flex;
}
.link_section_wrapper {
  width: 90vw;
}
.blank_div {
  width: 5vw;
  display: flex;
  flex: 1;
}

.left_blank {
  border-right: 1px solid var(--borderColor);
}
.right_blank {
  border-left: 1px solid var(--borderColor);
}
.link_001 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.link_001 .link_flex_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80vh;
}
.link001_desc {
  font-size: 2rem;
  width: 100%;
  line-height: 1.5;
  word-break: keep-all;
}
.link_001 .summary_button {
  background: #6c79f9;
  color: #fff;
  font-size: 1.6rem;
  padding: 0.2rem 1.6rem;
  border: none;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  gap: 0.8rem;
  font-weight: 700;
}
.link_summary_close {
  background: #6c79f9;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  padding: 2rem;
  border-radius: 4px;
}
.link_arrow_button {
  width: 2rem;
  height: 2rem;
  background: url(../images/hems/arrow_button.svg) center center / 100% 100%
    no-repeat;
}
.link_main_title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.link_main_title_wrap > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  padding-left: 4vw;
  box-sizing: border-box;
}
.link_main_title_wrap .main_title {
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  line-height: 1.2;
}
.link_main_title_wrap .main_title span {
  font-weight: 700;
  color: var(--primary);
}
.link_001_right {
  border-left: 1px solid var(--borderColor);
  width: 50%;
}
.link_main_wrap {
  background: #edeef4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}
.link_main_wrap img {
  width: 70%;
  max-width: 48rem;
  margin-bottom: 4vh;
}
.link_001_right_text {
  padding: 0 4rem;
}
.link_marquee {
  width: 100%;
  height: 8vh;
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  background: #fff;
  overflow: hidden;
}
.link_002 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.link_002 .link_flex_wrap {
  display: flex;
  border-bottom: 1px solid var(--borderColor);
}
.link_002_main {
  width: 43%;
  border-right: 1px solid var(--borderColor);
}
.link_002_main img {
  width: 100%;
  height: 100%;
}

.link_002_title_wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
}
.link_002_title_wrap > div:nth-child(1) {
  font-size: 3vw;
  padding: 0 4rem;
  font-weight: 100;
  border-right: 1px solid var(--borderColor);
}
.link_002_title_wrap > div:nth-child(2) {
  padding: 2rem;
}

.link_title {
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 1.2rem;
}
.link_title span {
  display: inline-flex;
  align-items: center;
  background: var(--primary);
  color: #fff;
  padding: 0.2rem 1.2rem;
  border-radius: 0.4rem;
  height: 50px;
  margin-right: 0.8rem;
}
.subject {
  font-size: 1.4rem;
  color: var(--primary);
  font-weight: 700;
}
.link_002_desc {
  font-size: 1.4rem;
  line-height: 1.5;
  word-break: keep-all;
  padding: 4rem;
}
.link_flex_column_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}
.link_002_video_wrap {
  background: #f4f3f4;
  border-top: 1px solid var(--borderColor);
  width: 100%;
}
.link_002_video {
  width: 80%;
  margin: 0 auto;
}
.link_002_video video {
  width: 100%;
  clip-path: inset(1px 1px);
}
.link_002_bottom_text_wrap {
  height: 16vh;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  text-align: center;
  color: #6c79f9;
}
.link_003 {
  position: relative;
  display: flex;
}
.link_003_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.title_container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  width: 100%;
}
.title_container .number {
  font-size: 3vw;
  border-right: 1px solid var(--borderColor);
  padding: 0 4rem;
  font-weight: 100;
}
.title_wrap {
  padding: 2rem;
}
.interview_desc {
  font-size: 1.6rem;
  margin-top: 0.8rem;
  opacity: 0.7;
}
.pain_point_container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 82rem;
  height: 60vh;
  gap: 24rem;
  margin-top: 16rem;
  padding-bottom: 20vh;
  position: relative;
  z-index: 100;
}
.pain_point_wrap {
  display: inline-block;
  background: #fcf7f8;
  border: 1px solid #d4666a;
  position: relative;
  padding: 3rem 2rem;
  border-radius: 1.2rem;
  width: 45rem;
  position: relative;
  filter: drop-shadow(30px 114px 47px rgba(0, 0, 0, 0.01))
    drop-shadow(17px 64px 40px rgba(0, 0, 0, 0.05))
    drop-shadow(7px 28px 29px rgba(0, 0, 0, 0.09))
    drop-shadow(2px 7px 16px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
.pain_profile {
  min-width: 8rem;
}
.pain_point_text_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #464555;
}
.pain_point_text_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #464555;
  justify-content: center;
}
.pain_point_subject {
  position: absolute;
  transform: translate(0%, -150%);
  background: #d4666a;
  color: #fff;
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  border-radius: 3rem;
  font-weight: 700;
}
.pain_point_div {
  display: flex;
  gap: 2rem;
}
.pain_point_wrap.red_wrap {
  background: #d4666a;
  color: #fff;
  position: absolute;
  top: 20rem;
  left: 50%;
  /* margin-left: 33rem; */
}
.pain_point_wrap.red_wrap.red_wrap002 {
  top: 60rem;
}
.pain_point_wrap.red_wrap .pain_point_subject {
  background: #fff;
  border: 1px solid #d4666a;
  color: #d4666a;
}
.pain_point_wrap.red_wrap .pain_point_text_wrap {
  color: #fff;
}
.pain_point_text_wrap > div:nth-child(1) {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3;
  word-break: keep-all;
}
.pain_point_text_wrap > div:nth-child(2) {
  font-size: 1.4rem;
  line-height: 1.3;
  word-break: keep-all;
  opacity: 0.7;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.arrow_001 {
  position: absolute;
  top: 14.3rem;
  left: 25.4rem;
}
.arrow_002 {
  position: absolute;
  top: 34.3rem;
  left: 49.4rem;
}
.arrow_003 {
  position: absolute;
  top: 52.5rem;
  left: 25.4rem;
}
.link_solution {
  font-size: 3.2rem;
  font-weight: 600;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  color: #fff;
  background: #d4666a;
  border-top: 1px solid #232323;
}
.link_solution_img {
  width: 30px;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 50%;
  /* height: 100%; */
}

.error_001 {
  position: absolute;
  right: 2vw;
  top: 31vh;
}
.error_002 {
  position: absolute;
  left: 5vw;
  bottom: 23vh;
}
.persona_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid var(--borderColor);
}
.link_004 {
  display: flex;
  border-top: 1px solid var(--borderColor);
}
.link_004_right {
  display: flex;
  flex-direction: column;
  width: 58%;
  border-left: 1px solid var(--borderColor);
}
.link_004_left {
  width: 50%;
}
.persona_subject {
  font-size: 3.2rem;
  font-weight: 600;
  color: #fff;
  background: var(--mainText);
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--borderColor);
}
.persona_left img {
}

.persona_right {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.link_004_up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid var(--borderColor);
  gap: 4rem;
  background: #edeef4;
}
.link_004_down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
  gap: 4rem;
}
.link_004_right p {
  font-size: 1.4rem;
  line-height: 1.3;
  margin-top: 2rem;
  padding: 4rem;
  color: #727180;
}
.persona_wrapper {
  display: flex;
  width: 100%;
}
.persona_left {
  min-width: 20rem;
  padding: 2rem;
  border-right: 1px solid var(--borderColor);
}
.persona_title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #464555;
}
.persona_text_wrap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
}
.persona_text_wrap p {
  font-size: 1.4rem;
  color: #727180;
  line-height: 1.3;
}
.persona_img {
  margin: 0 auto;
  margin-top: 10%;
  width: 80%;
}
.persona_img img {
  width: 100%;
}
.link_proto_slider {
  width: 100%;
  max-width: 50vw;
  height: 50vh;
  min-height: 50rem;
  filter: drop-shadow(30px 114px 47px rgba(0, 0, 0, 0.01))
    drop-shadow(17px 64px 40px rgba(0, 0, 0, 0.05))
    drop-shadow(7px 28px 29px rgba(0, 0, 0, 0.09))
    drop-shadow(2px 7px 16px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
/* .swiper-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
} */
.proto_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 12rem;
  background: #edeef4;
}
.proto_pc {
  width: 50vw;
}
.proto_pc img {
  width: 100%;
}
.proto_head {
  display: flex;
  align-items: center;
  padding-left: 4vw;
  font-size: 2rem;
  font-weight: 700;
  background: var(--primary);
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  height: 8rem;
  color: #fff;
}
.add_pipeline {
  width: 80rem;
  margin: 0 auto;
  font-size: 2rem;
  margin-top: 4rem;
}
.pipeline_ui {
  width: 80rem;
  margin: 0 auto;
  margin-top: 8rem;
  font-size: 2rem;
}
.pipeline_component {
  width: 80rem;
  margin: 0 auto;
  margin-top: 8rem;
  font-size: 2rem;
  line-height: 1.5;
}
.add_pipeline p,
.pipeline_component p {
  margin-top: 2rem;
  line-height: 1.3;
  word-break: keep-all;
}
.add_pipeline_img {
  width: 80rem;
  margin: 0 auto;
}
.link_ui_info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 4rem;
}
.link_ui_info li {
  display: flex;
  align-items: center;
  line-height: 1.5;
  gap: 0.8rem;
}
.link_ui_info li > div:nth-child(1) {
  background: var(--primary);
  color: #fff;
  height: 30px;
  width: 30px;

  text-align: center;
  border-radius: 30px;
}
.link_006 {
  display: flex;
  border-top: 1px solid #000;
}
.link_006_left {
  border-right: 1px solid var(--borderColor);
}
.link_006_video {
  width: 70%;
  margin: 0 auto;
  padding: 4rem;
  box-sizing: border-box;
}
.link_006_video video {
  width: 100%;
  filter: drop-shadow(30px 114px 47px rgba(0, 0, 0, 0.01))
    drop-shadow(17px 64px 40px rgba(0, 0, 0, 0.05))
    drop-shadow(7px 28px 29px rgba(0, 0, 0, 0.09))
    drop-shadow(2px 7px 16px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
.link_006_up {
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--borderColor);
}
.link_ui_ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
  padding-left: 4rem;
}
.link_ui_ul li {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  gap: 0.4rem;
  line-height: 1.5;
}
.link_ui_ul li > div:nth-child(1) {
  background: var(--primary);
  color: #fff;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  flex-shrink: 0;
}
.link_ui_info_img {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
}
.link_component_img {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
}
.link_component_text {
  padding: 0 2rem 2rem;
  font-size: 1.4rem;
  word-break: keep-all;
  line-height: 1.5;
}
.link_007 {
  display: flex;
  border-top: 1px solid var(--borderColor);
}
.remote_left {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.link_remote_img {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  padding: 4rem 4rem 0;
  box-sizing: border-box;
  filter: drop-shadow(30px 114px 47px rgba(0, 0, 0, 0.01))
    drop-shadow(17px 64px 40px rgba(0, 0, 0, 0.05))
    drop-shadow(7px 28px 29px rgba(0, 0, 0, 0.09))
    drop-shadow(2px 7px 16px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
.link_remote_text {
  font-size: 1.4rem;
  padding: 2rem 4rem;
  line-height: 1.5;
  word-break: keep-all;
  text-align: center;
  border-top: 1px solid var(--borderColor);
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.remote_right {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid var(--borderColor);
}
.link_cache_video {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 4rem 0;
  box-sizing: border-box;
  height: 50vh;
}
.link_cache_video video {
  width: 100%;
  filter: drop-shadow(30px 114px 47px rgba(0, 0, 0, 0.01))
    drop-shadow(17px 64px 40px rgba(0, 0, 0, 0.05))
    drop-shadow(7px 28px 29px rgba(0, 0, 0, 0.09))
    drop-shadow(2px 7px 16px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
.link_008 {
  display: flex;
  border-top: 1px solid var(--borderColor);
}
.link_009 {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--borderColor);
}
.link_git_wrap {
  display: flex;
  height: 60vh;
  min-height: 68rem;
}
.link_git_img {
  width: 70%;
  margin: 0 auto;
  padding: 4rem;
}
.link_git_img img {
  width: 100%;
}
.link_git_left {
  border-right: 1px solid var(--borderColor);
  width: 60%;
}
.link_git_right {
  width: 40%;
}
.link_git_video {
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
  box-sizing: border-box;
}
.link_git_video video {
  width: 100%;
}
.link_git_title {
  font-size: 2rem;
  padding: 2rem;
  border-bottom: 1px solid var(--borderColor);
  background: var(--mainText);
  color: #fff;
}
.link_git_text {
  font-size: 1.4rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.link_010 {
  border-top: 1px solid var(--borderColor);
}
.link_010_wrap {
  display: flex;
  height: 60vh;
  align-items: center;
}
.link_010_wrap > div {
  width: 30vw;
}
.link_010_text {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  width: 100%;
  word-break: keep-all;
}
.link_011 {
  background: #222;
  color: #fff;
}
.link_011 .title_container {
  border-color: #fff;
}
.link_011 .title_container .number {
  border-color: #fff;
}
.darkmode_img {
  width: 50%;
  margin: 0 auto;
  padding: 12rem 4rem;
}
.darkmode_img video {
  width: 100%;
}
.link_011_wrap {
  display: flex;
}
.link_011_left {
  width: 40%;
  border-right: 1px solid var(--borderColor);
}
.link_011_right {
  width: 60%;
}
.link_ux_imp001_text_wrap {
  padding: 4rem;
  font-size: 1.4rem;
  line-height: 1.5;
}
.link_ux_title {
  font-size: 2rem;
  font-weight: 600;
}
.link_ux_img {
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
}
.link_013 {
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
}
.link_013 .subject {
  display: flex;
  gap: 0.8rem;
  color: var(--mainText);
  align-items: center;
}
.figma_logo_img {
  width: 2rem;
}
.link_013_wrap {
  display: flex;
}
.link_013_left {
  width: 60%;
  border-right: 1px solid var(--borderColor);
  padding: 8rem 4rem;
}
.link_013_right {
  width: 40%;
  padding: 8rem 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.link_013_text {
  font-size: 2rem;
}
.link_013_img_001 {
  width: 70%;
  margin: 0 auto;
}
.link_013_img_002 {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
}
.link_013_img_003 {
  width: 100%;
  margin: 0 auto;
}
.link_014 {
  position: relative;
}
.link_014_video {
  display: flex;
  justify-content: center;
}
.link_014_text_wrap {
  position: absolute;
  font-size: 3vw;
  font-weight: 600;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.thanks {
  position: absolute;
  font-size: 4rem;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (max-width: 600px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  body {
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;
  }
  .mo_span {
    display: contents;
  }
  .mo_no {
    display: none;
  }
  .subject {
    font-size: 1.4rem;
  }
  .blank_div {
    width: 1.6rem;
  }
  .link_section_wrapper {
    width: calc(100% - 3.2rem);
  }
  .link_header {
    box-sizing: border-box;
    width: 100%;
    height: 6vh;
    margin-top: 8px;
  }
  .link_header img {
    width: 20%;
  }
  .link_001 {
    width: 100%;
    height: auto;
    margin-top: calc(6vh + 8px);
  }
  .link_001_right {
    width: 100%;
    border: none;
  }
  .link_main_title_wrap {
    gap: 0;
  }
  .link001_desc {
    font-size: 1.4rem;
    display: none;
  }
  .link_flex_wrap {
    flex-direction: column;
  }
  .link_main_title_wrap > div {
    margin: 0;
    width: 100%;
    padding: 0.8rem 1.6rem 2rem;
    gap: 0.8rem;
    box-sizing: border-box;
  }
  .link_main_title_wrap .main_title {
    font-size: 12vw;
  }
  .link_001 .link_flex_wrap {
    height: auto;
  }
  .link_main_wrap {
    width: 100%;
    padding: 2rem;
    height: 50vh;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #232323;
  }
  .link_main_wrap img {
    width: 70%;
    margin: 0;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
  .link_002 {
    height: auto;
    overflow: hidden;
  }
  .link_002_main {
    width: 100%;
    height: auto;
  }
  .link_flex_column_wrap {
    width: 100%;
    box-sizing: border-box;
  }
  .link_002_title_wrap {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    gap: 0;
  }
  .link_002_title_wrap > div:nth-child(1) {
    font-size: 12vw;
    border: none;
    border-right: none;
    padding: 2rem 1.6rem;
  }
  .link_002_title_wrap > div:nth-child(2) {
    padding: 2rem;
    border-left: 1px solid var(--borderColor);
  }
  .link_title {
    font-size: 2rem;
    word-break: keep-all;
    width: 100%;
    box-sizing: border-box;
  }
  .link_title span {
    padding: 0 0.8rem;
    height: 3.2rem;
    margin-right: 0.4rem;
  }
  .link_002_desc {
    padding: 2rem 1.6rem;
    font-size: 1.4rem;
  }
  .link_002_bottom_text_wrap {
    font-size: 1.4rem;
    height: auto;
    padding: 2rem 1.6rem;
    box-sizing: border-box;
    word-break: keep-all;
    border-top: none;
    flex-direction: column;
  }
  .link_003 {
    display: flex;
    height: auto;
    padding: 0rem;
  }

  .link_003 .title_wrap {
    margin: 0;
    padding: 2rem;
    border-left: 1px solid var(--borderColor);
  }
  .interview_desc {
    font-size: 1.2rem;
    line-height: 1.3;
    opacity: 0.5;
    word-break: keep-all;
  }

  .link_003 .title_container .number {
    font-size: 10vw;
    height: 100%;
    border: none;
    box-sizing: border-box;
    padding: 2rem 1.6rem;
    display: flex;
    align-items: center;
  }
  .error_001,
  .error_002 {
    display: none;
  }
  .pain_point_container {
    width: 100%;
    box-sizing: border-box;
    padding: 6rem 1.6rem;
    gap: 4rem;
    margin-top: 0;
    box-sizing: border-box;
    height: 100vh;
    min-height: 72rem;
  }
  .pain_point_wrap {
    width: 100%;
    box-sizing: border-box;
    filter: none;
  }
  .pain_point_wrap.red_wrap {
    position: relative;
    top: auto;
    left: auto;
  }
  .pain_point_wrap.red_wrap.red_wrap002 {
    top: auto;
    left: auto;
  }
  .pain_point_text_wrap > div:nth-child(1) {
    font-size: 1.8rem;
  }
  .arrow_001,
  .arrow_002,
  .arrow_003 {
    display: none;
  }
  .link_solution_img {
    width: 6rem;
  }
  .link_solution {
    font-size: 2rem;
    line-height: 1.5;
    padding: 2rem;
  }
  .title_container .number {
    font-size: 10vw;
    padding: 2rem 1.6rem;
  }
  .persona_container {
    padding: 0;
  }
  .persona_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .persona_left {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-right: none;
  }
  .persona_left img {
    width: 60%;
  }
  .persona_subject {
    font-size: 2rem;
  }
  .swiper-slide img {
    width: 100%;
  }
  .proto_container {
    padding: 4rem 1.6rem;
  }
  .link_004 {
    flex-direction: column;
  }
  .link_004_up,
  .link_004_down {
    padding: 4rem 0;
  }
  .link_004_left,
  .link_004_right {
    width: 100%;
    height: auto;
  }
  .link_004_left {
    padding: 0 0 4rem 0;
    border-bottom: 1px solid var(--borderColor);
  }
  .title_wrap {
    padding: 2rem;
  }
  .link_004_right {
    border: none;
  }
  .concept_flow_img,
  .concept_system_img {
    box-sizing: border-box;
    padding: 0 1.6rem;
    width: 100%;
  }
  .concept_flow_img img,
  .concept_system_img img {
    width: 100%;
  }
  .link_004_right p {
    box-sizing: border-box;
    word-break: keep-all;
    width: 100%;
    padding: 0 1.6rem;
    font-size: 1.4rem;
  }
  .link_006 {
    flex-direction: column;
  }

  .link_006_video {
    width: 100%;
    padding: 2rem;
    filter: none;
  }
  .link_ui_info_img {
    width: 100%;
    box-sizing: border-box;
  }
  .link_proto_slider {
    min-height: auto;
    max-width: 70vw;
  }
  .link_006_left {
    border: none;
  }
  .link_007,
  .link_008,
  .link_009,
  .link_010,
  .link_011,
  .link_012,
  .link_013 {
    flex-direction: column;
  }
  .link_008 {
    border: none;
  }
  .link_009 {
    border: none;
  }
  .link_cache_video video {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
  }
  .link_remote_img {
    width: 100%;
    height: auto;
    padding: 2rem;
    filter: none;
  }
  .link_remote_text {
    height: auto;
    border-bottom: 1px solid var(--borderColor);
    font-size: 1.4rem;
  }
  .link_component_text {
    font-size: 1.4rem;
  }
  .link_ui_ul {
    padding: 2rem;
  }
  .link_ui_ul li {
    font-size: 1.4rem;
  }
  .remote_right {
    border: none;
  }
  .link_cache_video {
    width: 100%;
    padding: 2rem;
    height: auto;
  }
  .link_git_wrap {
    flex-direction: column;
    height: auto;
  }
  .link_git_left,
  .link_git_right {
    width: 100%;
  }
  .link_git_text {
    font-size: 1.4rem;
    padding: 2rem;
    word-break: keep-all;
  }
  .link_git_title {
    font-size: 2rem;
    padding: 2rem;
  }
  .link_git_video {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }
  .link_git_img {
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  .link_010_wrap {
    flex-direction: column;
    height: auto;
  }
  .link_010_wrap div {
    width: 100%;
  }
  .link_011_wrap,
  .link_013_wrap {
    flex-direction: column;
  }
  .link_011_left,
  .link_011_right,
  .link_013_left,
  .link_013_right {
    width: 100%;
  }
  .link_ux_img {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }
  .link_ux_title {
    font-size: 2rem;
  }
  .link_ux_imp001_text_wrap {
    padding: 2rem;
    font-size: 1.4rem;
  }
  .figma_logo_img {
    width: 2rem;
  }
  .link_013_wrap {
    gap: 4rem;
  }
  .link_013_left,
  .link_013_right {
    padding: 2rem;
    box-sizing: border-box;
  }
  .link_013_left {
    border: none;
    border-bottom: 1px solid var(--borderColor);
  }
  .link_013_right {
    gap: 4rem;
  }
  .link_013_img_001 {
    width: 100%;
  }
  .link_013_text {
    font-size: 1.4rem;
  }
  .link_014_video video {
    width: 100%;
  }
  .link_014_text_wrap {
    font-size: 5vw;
    padding: 2rem;
    box-sizing: border-box;
  }
  .thanks {
    font-size: 1.4rem;
    bottom: 2vh;
  }
}
