@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

.modal-overlay {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  color: #464555;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  overflow: hidden;
  z-index: 1000;
}
.modal_window {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-width: 60rem;
  max-height: 75vh;
  background: #fff;
  padding: 2rem;
  gap: 4rem;
  overflow-y: auto;
  border-radius: 1.2rem;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  word-break: keep-all;
}
.stop-scroll {
  height: 100%;
  overflow: hidden;
}
.modal_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.modal_window > div > p {
  font-size: 1.4rem;
  line-height: 1.3;
}
.runway_modal {
  background: #111;
  color: #fff;
}
.hidden {
  display: none !important;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.md_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}
.md_content {
  width: 60vw;
  height: 33.75vw;
  position: relative;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}
.loadbg {
  background: #000;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: all 0.3s;
  opacity: 0;
}
.md_content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loading_lottie {
  width: 30vw;
  height: 30vw;
}
@media screen and (max-width: 450px) {
  .modal_window {
    width: 90vw;
    overflow: auto;
  }
  .youtube_modal .md_content {
    position: relative;
    padding-top: 45%;
    width: 80%;
    height: 0;
    border-radius: 12px;
  }
}
