.container {
  width: 100%;
  display: flex;
  height: auto;
  padding: 16rem 0;
}
@media screen and (max-width: 450px) {
  .container {
    width: 400%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    padding: 4rem 0;
  }

  .panel {
    width: 100vw;
  }
  .blue {
    background: blue;
  }
  .red {
    background: red;
  }
  .orange {
    background: orange;
  }
  .purple {
    background: purple;
  }
}
