@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
:root {
  --primary: #944af2;
  --primary_hover: #ab70f5;
  --gray-100: #e3e4e8;
  --gray-300: #abafba;
  --gray-500: #737a8c;
  --gray-700: #454954;
}
.primary_font {
  background: linear-gradient(270deg, #f754d6, #607ae1, #944af2);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: graani 5s infinite;
}
@keyframes graani {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  font-size: 10px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}
body {
  background: #000;
  overflow-x: hidden;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.runway_lottie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mo_span {
  display: block;
}
.mt_8 {
  margin-top: 0.8rem;
}
.GNB {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 100;
  margin-top: 4px;
  padding: 0.8rem 0;
}
#navbar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navbar__logo {
  width: 7vw;
  min-width: 12rem;
}
.navbar__logo img {
  width: 100%;
}
.runway_subject_title {
  font-size: 2rem;
  font-weight: 600;
  color: #797c81;
  text-align: center;
}
.runway_subject_text {
  font-size: 2rem;
  font-weight: 400;
  color: #ced1d5;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.5;
  word-break: keep-all;
}
.runway_title {
  margin-top: 3.2rem;
  font-size: 6vw;
  line-height: 1.1;
  text-align: center;
  font-weight: 500;
  color: #e3e4e8;
}
.runway_title div {
  color: #8686fd;
}
.runway_p {
  color: #e3e4e8;
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 1.5;
  word-break: keep-all;
  text-align: center;
  opacity: 1;
}
.runway_wrap {
  display: flex;
  justify-content: space-between;
}
.runway_loop {
  display: flex;
  flex-direction: column;
  background: #000;
  align-items: center;
  padding: 8rem 0;
}
.runway_loop video {
  width: 80vw;
  max-width: 100rem;
  margin: 0 auto;
}
.black_gra {
  width: 100%;
  height: 30vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.runwaypage_001 {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: #000;
}
.runwaypage_wrapper {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  gap: 3.2rem;
}
.runwaypage_text_wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: auto;
  bottom: 4vw;
  gap: 2rem;
  min-width: 60rem;
}
.runwaypage_main_title_wrapper {
  display: flex;
  flex-direction: column;
}
.runwaypage_subtext {
  font-size: 2vw;
  font-weight: 200;
  color: #fff;
  opacity: 0.7;
  line-height: 130%;
}
.runwaypage_maintext {
  display: flex;
  font-size: 13vw;
  line-height: 130%;
  gap: 8px;
  font-weight: 700;
}
.runwaypage_m_desc {
  font-size: 2rem;
  font-weight: 300;
  width: 80%;
  line-height: 130%;
  opacity: 0.7;
  word-break: keep-all;
}
.runwaypage_button_group {
  display: flex;
  gap: 1.2rem;
}
.runwaypage_button_group > button {
  font-size: 1.6rem;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 4px;
}
.started_button {
  background: var(--primary);
  font-size: 1.6rem;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 4px;
}
.runwaypage_button_group > button:nth-child(2) {
  background: var(--gray-500);
}
.runwaypage_mainimg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(1.2);
}
.runwaypage_mainimg img {
  width: 100%;
}
.link_video {
  width: 23vw;
  min-width: 22rem;
  right: -6vw;
  top: -4vw;
  position: absolute;
  border-radius: 0.4vw;
  box-shadow: -5px 5px 100px rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.runway_video {
  position: relative;
  left: -8vw;
  top: 2vh;
  width: 35vw;
  margin-top: 4rem;
  border-radius: 8px;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
/*  */
.runway_002 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background: linear-gradient(180deg, #020202 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(
      94.64% 94.64% at 50% 5.36%,
      #160881 0%,
      #944af2 54.17%,
      #000 100%
    );
}
.gradient_bg {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.gradient_bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gradient_bg img:nth-child(2) {
  opacity: 0;
}
.gradient_bg.mobile img:nth-child(1) {
  opacity: 0;
}
.gradient_bg.mobile img:nth-child(2) {
  opacity: 1;
}
.runwaypage_002 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  height: 100vh;
  box-sizing: border-box;
}
.runwaypage_002_img {
  display: flex;
  width: 50vmin;
  justify-content: center;
}
.runway_002_video,
.runway_003_video {
  width: 100%;
}
.runway_003_video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.runway_003_video video {
  width: 50%;
}
.runway_pin_text_wrapper {
  margin-top: 4rem;
  font-size: 2.6vw;
  width: fit-content;
  text-align: center;
  color: var(--gray-700);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: left;
}
.list-item#on {
  color: var(--gray-100);
}
.pin_006 {
  color: var(--primary);
  font-size: 1.6vw;
  font-weight: 700;
  margin-top: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.4vw 0.4rem;
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;
}
.runway_logo {
  position: absolute;
  top: 5vh;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 10vw;
  z-index: 100;
}
.runway_logo img {
  width: 100%;
}

.runway_logo2 {
  top: 50%;
  left: 50%;
}
.runway_p001 {
  position: absolute;
  bottom: 12vh;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  word-break: keep-all;
  z-index: 100;
}
.runway_003 {
  display: flex;
  color: #ced1d5;
  overflow: hidden;
  padding: 8rem 0;
  height: 100vh;
}
.runway_003 > div {
  display: flex;
  flex-direction: column;
  width: 120rem;
  margin: 0 auto;
  gap: 12rem;
  justify-content: center;
}
.runway_003_main_img {
  max-width: 30rem;
}
.runway_003_main_img img {
  width: 100%;
}
.runway_background_text_wrap {
  display: flex;
  flex-direction: column;
  gap: 7vh;
}
.runway_background_text_wrap .bg_title {
  font-size: 4rem;
  font-weight: 600;
}
.runway_background_text_wrap p {
  font-size: 2rem;
  margin-top: 0.8rem;
  line-height: 1.5;
  max-width: 57rem;
  color: #e3e4e8;
  opacity: 0.7;
  word-break: keep-all;
}
.runway_bg_text01 {
  background: -webkit-linear-gradient(0deg, #8686fd, #a884d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.runway_bg_text02 {
  background: -webkit-linear-gradient(0deg, #a884d4, #cd81a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.runway_bg_text03 {
  background: -webkit-linear-gradient(0deg, #cd81a9, #ffa59c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.runway_bg_text04 {
  background: -webkit-linear-gradient(0deg, #ffa59c, #ffcec9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.runway_004 {
  padding: 16rem 0;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.runway_004 .swiper {
  max-width: 120rem;
  color: #ced1d5;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 8rem;
}
.persona_002 {
  margin-top: 8rem;
}
.persona_004 {
  margin-top: 4rem;
}
.runway_005 {
  display: flex;
  color: #fff;
}
.runway_005 .head {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
  background-color: #0e0d32;
}
.swiper-pagination-bullet {
  background: #fff !important;
}
.content-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 400px;
  width: 50%;
  font-size: 40px;
  padding-left: 5em;
}

.numbers-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.heading {
  opacity: 0;
  position: absolute;
  top: 2em;
}

.scroll-num {
  width: 30vw;
  opacity: 0;
  position: absolute;
  top: 1em;
  font-size: 66px;
  text-align: center;
}
.runway_concept {
  padding: 12rem;
  box-sizing: border-box;
}
.runway_concept_wrap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin: 0 auto;
  margin-top: 8rem;
  width: 100rem;
}
.runway_concept_up {
  width: 100%;
}
.runway_concept_up .runway_concept_left {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  border-radius: 1.2rem;
}
.runway_concept_up .runway_concept_left .runway_concept_img {
  width: 60%;
}
.runway_concept_img img {
  width: 100%;
}
.runway_concept_up .runway_concept_left .runway_concept_text_wrap {
  background: linear-gradient(
    95.54deg,
    #cfd9fc -5.95%,
    #c5cafb 43.53%,
    #7558ef 106.13%
  );
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  box-sizing: border-box;
  color: #111115;
}
.runway_concept_up,
.runway_concept_down {
  display: flex;
  gap: 4rem;
}
.runway_concept_left,
.runway_concept_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.3;
  gap: 2rem;
  justify-content: center;
  background: #111115;
  border-radius: 1.2rem;
  padding: 2rem;
  width: 44rem;
  height: 40rem;
  border: 1px solid #454954;
}

.runway_concept_text_wrap {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 1.2rem;
}
.runway_concept_title {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
}
.concept_title_001 {
  font-size: 3.2rem;
}
.runway_concept_right {
  color: #fff;
}
.runway_feature_container {
  padding: 16rem 0;
}
.runway_subject_big_text {
  font-size: 5vw;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}
.runway_feature_wrap {
  display: flex;
  width: 140rem;
  margin: 0 auto;
  margin-top: 12rem;
  justify-content: space-between;
}
.feature_001 .runway_subject_title {
  color: #fff;
}
.runway_feature_left,
.runway_feature_right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.runway_feature_title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2rem;
}
.runway_feature_number {
  font-size: 2rem;
  color: #fff;
  opacity: 0.5;
}
.runway_feature_subject {
  font-size: 4rem;
  font-weight: 600;
  line-height: 130%;
  color: #fff;
}
.runway_feature_img {
  width: 65rem;
}
.runway_feature_img img {
  width: 100%;
}
.runway_feature_wrap p {
  color: #fff;
  opacity: 0.6;
  font-size: 1.6rem;
  line-height: 1.3;
}
.login_wrap {
  margin-top: 4rem;
}
.project_wrap {
  margin-top: 24rem;
}
.project_wrap p {
  margin-bottom: 6rem;
}
.monitoring_wrap {
  margin-top: 20rem;
}
.runway_feature_subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.runway_feature_video {
  width: 65rem;
}
.runway_feature_video video {
  width: 100%;
}
.source_type p {
  margin-bottom: auto;
}
.single_title_wrap {
  width: 140rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.stream_video {
  width: 90rem;
}
.stream_wrap .runway_feature_img {
  width: 45rem;
}
.design_system_text {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  width: 140rem;
  opacity: 0.6 !important;
  margin: 0 auto;
}
.runway_summary_close {
  background: #944af2;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  padding: 2rem;
  border-radius: 4px;
}
.summary_button {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background: #944af2;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  padding: 2rem 4rem;
  border-radius: 4px;
  z-index: 100;
}
.link_arrow_button {
  width: 2rem;
  height: 2rem;
  background: url(../images/hems/arrow_button.svg) center center / 100% 100%
    no-repeat;
}
/*quick preview  */
.quick_preview {
  background: #000;
  padding: 16rem 0 4rem;
  color: #fff;
}
.quick_perview_wrapper {
  width: 62vw;
  margin: 0 auto;
  min-width: 100rem;
  max-width: 120rem;
}
.section_heading {
  font-size: 8rem;
  font-weight: 500;
  color: var(--gray-100);
  text-align: center;
  margin-bottom: 8rem;
}
.feature_concept_img {
  text-align: center;
  width: 100rem;
  margin: 0rem auto 8rem;
}
.feature_concept_img img {
  width: 100%;
}
.feature_concept {
  display: none !important;
}
.quick_wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 4rem;
}
.quick_text_wrapper {
  color: #fff;
  width: 30%;
}
.tab_text {
  margin-top: 6rem;
  font-size: 1.6rem;
  color: var(--gray-300);
}
.tab_text p {
  word-break: keep-all;
  font-weight: 300;
  line-height: 130%;
  width: 85%;
}
.tab_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}
.tab_wrapper .tabSwiper {
  color: #fff;
  display: none;
}
.tab {
  display: flex;
  overflow: hidden;
  gap: 2rem;
}
.tab button.active {
  background-color: var(--primary);
  color: #fff;
  border-radius: 30px;
}
.tab button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 2rem;
  color: var(--gray-300);
  background-color: transparent;
  padding: 0.4rem 2rem;
}
.tab_flow_img {
  margin-top: 4rem;
}
.tab_flow004 {
  width: 100%;
}
.tab_flow004 img {
  width: 100%;
}
.quick_preview_screen {
  position: relative;
  padding-top: 64.6%;
  width: 100%;
  height: 0;
}
.quick_preview_screen > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tab_text h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 130%;
  color: #fff;
  margin-bottom: 1.2rem;
}
/* banner */
.quick_banner {
  padding: 0 12rem 12rem;
  position: relative;
}
.quick_banner_wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 10;
}
.runwaypage_003_flex {
  color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 12rem 0;
}
.runwaypage_003_flex > div {
  font-size: 7vw;
  font-weight: 600;
}
.quick_banner_card_wrapper {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  border-radius: 1.2rem;
  overflow: hidden;
}
.quick_banner_card_wrapper img {
  width: 100%;
}
.banner_main_title_wrapper {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);
}
.banner_subtext {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  opacity: 0.7;
}
.banner_maintext {
  display: flex;
  color: #fff;
  gap: 8px;
  font-weight: 500;
  font-size: 6rem;
  margin-top: 0.4rem;
}
.banner_maintext > div:nth-child(1) {
  font-weight: 300;
}
@media screen and (max-width: 1000px) {
  .runwaypage_wrapper {
    padding-top: 0;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3.2rem;
  }
  .runwaypage_mainimg {
    width: 100%;
  }
  .runwaypage_text_wrapper {
    margin-top: 2rem;
    width: 100%;
    min-width: auto;
    align-items: center;
  }
  .runwaypage_subtext {
    font-size: 3rem;
  }
  .runwaypage_maintext {
    font-size: 6rem;
  }
  .runway_video {
    width: 60vw;
    left: 0;
  }
  .link_video {
    width: 40vw;
  }
  .runwaypage_002 {
    width: 100%;
    height: calc(var(--vh) * 100);
    padding: 8rem 2rem;
    box-sizing: border-box;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
  }
  .runway_003_video video {
    width: 100%;
  }
  .runwaypage_002_img {
    width: 100%;
  }
  .runway_pin_text_wrapper > p {
    font-size: 3.2rem;
  }
  .pin_006 {
    font-size: 3.2rem;
  }

  .runway_concept {
    padding: 4rem;
  }
  .runway_concept_wrap {
    width: 100%;
    gap: 2rem;
  }
  .runway_concept_left {
    width: 50%;
  }
  .runway_concept_down {
    gap: 2rem;
  }
  .runway_004 {
    padding: 8rem 4rem;
  }
  .runway_004 .swiper {
    width: 100%;
    max-width: 100%;
    min-height: auto;
    padding: 4rem 1.6rem;
    box-sizing: border-box;
  }
  .concept_title_001 {
    font-size: 2.4rem;
  }
  .section_heading {
    font-size: 6rem;
    width: 100%;
  }
  .quick_perview_wrapper {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 4rem;
    box-sizing: border-box;
  }
  .feature_concept_img {
    width: 100%;
  }
  .quick_wrapper {
    width: 100%;
    flex-direction: column-reverse;
  }
  .tab_wrapper {
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
  }
  .tab_text {
    margin: 0;
  }
  .quick_text_wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 4rem;
  }
  .runway_feature_wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 4rem;
    margin-top: 4rem;
    flex-direction: column;
    gap: 8rem;
  }
  .runway_feature_container {
    padding: 4rem;
  }
  .stream_video {
    width: 100%;
  }
  .stream_wrap .runway_feature_img {
    width: 100%;
  }
  .single_title_wrap,
  .design_system_text {
    width: 100%;
    line-height: 130%;
    word-break: keep-all;
  }
  .runwaypage_003_flex > div {
    font-size: 12vw;
  }
  .quick_banner_card_wrapper {
    overflow: auto;
  }
  .quick_banner {
    padding: 0 2rem 8rem;
  }
}
@media screen and (max-width: 450px) {
  #navbar {
    width: 100%;
    padding: 0 1.6rem;
    box-sizing: border-box;
  }
  .mo_span {
    display: inline;
  }
  .runway_001 {
    width: 100vw;

    background: url(../images/runway/runway_main_mobile.png) center 0 / 105vw
      auto no-repeat;
  }
  .runway_logo {
    left: 20%;
    top: 8vh;
    width: 40%;
  }
  .runway_logo img {
    width: 100%;
  }
  .summary_button {
    bottom: 6vh;
  }
  .black_gra {
    height: 40vh;
  }
  .scroll-downs {
    bottom: 6vh;
  }
  .runway_p001 {
    padding: 0 20px;
    bottom: 12vh;
    width: 100%;
    min-width: 100%;
    font-size: 2rem;
    text-align: center;
    box-sizing: border-box;
  }
  .runway_background_text_wrap p {
    font-size: 1.5rem;
  }
  .runway_title {
    font-size: 14vw;
    margin-bottom: 2rem;
  }
  .runway_logo2 {
    width: 70%;
  }
  .runway_logo2 img {
    width: 100%;
  }
  /*  */

  .runway_pin_text_wrapper {
    padding: 0 1.6rem;
    margin: 0;
    font-size: 2.4rem;
  }
  .runway_pin_text_wrapper > p {
    font-size: 7vw;
    word-break: keep-all;
    text-align: center;
  }
  .pin_006 {
    font-size: 2rem;
    justify-content: center;
  }
  .pin_006 img {
    width: 3.2rem;
  }
  .runway_feature_title {
    margin-bottom: 2rem;
  }
  .runwaypage_mainimg {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 1.6rem;
  }
  .link_video {
    width: 50vw;
    min-width: auto;
    right: 1.6rem;
  }
  .runway_video {
    width: 70vw;
  }
  .runwaypage_subtext {
    font-size: 6vw;
  }
  .runwaypage_maintext {
    width: 100%;
    flex-direction: column;
    gap: 0;
    font-size: 24vw;
    justify-content: left;
  }
  .runwaypage_m_desc {
    width: 100%;
    font-size: 1.6rem;
  }
  .runwaypage_button_group {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.6rem;
  }
  .runwaypage_button_group > button {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .runway_003 {
    width: 100%;
    padding: 0 1.6rem;
    box-sizing: border-box;
  }
  .runway_003_main_img {
    display: none;
  }
  .runway_background_text_wrap .bg_title {
    font-size: 2.8rem;
  }
  .runway_background_text_wrap p {
    font-size: 1.5rem;
    word-break: keep-all;
  }
  .runway_003 > div {
    gap: 6vh;
  }
  .runway_004 {
    width: 100%;
    padding: 16rem 1.6rem 0;
    box-sizing: border-box;
  }
  .runway_004 .swiper {
    margin-top: 4rem;
  }
  .persona_wrap {
    flex-direction: column;
    align-items: center;
  }
  .persona_left {
    align-items: center;
  }

  .swiper-slide img {
    width: 100%;
    margin: 0 auto;
  }
  .persona_002,
  .persona_004 {
    margin: 0;
  }
  .runway_subject_text {
    font-size: 1.6rem;
    word-break: keep-all;
    text-align: left;
    width: 100%;
    margin: 1.2rem auto;
  }
  .runway_concept {
    padding: 8rem 1.6rem;
  }
  .runway_concept_wrap {
    width: 100%;
    gap: 2rem;
  }
  .runway_concept_title {
    word-break: keep-all;
    font-size: 1.6rem;
  }
  .runway_concept_text_wrap {
    width: 100%;
  }
  .runway_concept_up .runway_concept_left .runway_concept_text_wrap {
    align-items: flex-start;
    padding: 2rem;
  }
  .concept_title_001 {
    font-size: 1.6rem;
  }
  .runway_concept_up .runway_concept_left {
    flex-direction: column;
  }
  .runway_concept_up .runway_concept_left .runway_concept_img {
    width: 100%;
  }
  .runway_concept_up,
  .runway_concept_down {
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
  }
  .runway_concept_down {
    width: 100%;
    gap: 2rem;
  }
  .runway_concept_left,
  .runway_concept_right {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  .runway_concept_img {
    width: 90%;
  }
  .runway_concept_img img {
    width: 100%;
  }
  .runway_concept_down > div {
    height: 28rem;
  }
  .runway_subject_title {
    font-size: 1.5rem;
  }
  .runway_subject_big_text {
    font-size: 10vw;
  }
  /* quick */
  .quick_preview {
    width: 100%;
    box-sizing: border-box;
    padding: 4rem 1.6rem 2rem;
    margin-top: 0rem;
  }
  .quick_perview_wrapper {
    width: 100%;
    min-width: 100%;
  }
  .section_heading {
    font-size: 14vw;
    margin-bottom: 2rem;
  }
  .feature_concept_img {
    display: none;
  }
  .feature_concept_img img {
    width: 100%;
  }
  .feature_concept {
    display: block !important;
    color: var(--gray-500);
    padding: 4rem 1.6rem !important;
    box-sizing: border-box;
  }
  .quick_wrapper {
    width: 100%;
    flex-direction: column-reverse;
    box-sizing: border-box;
  }
  .quick_text_wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
  .tab_text {
    margin: 0;
  }
  .tab_text p {
    width: 100%;
  }
  .runway_feature_container {
    padding: 8rem 0;
  }
  .runway_feature_wrap {
    flex-direction: column;
    width: 100%;
  }
  .feature_ico_text {
    margin-top: 1.2rem;
    font-size: 1.4rem;
  }
  .tab_wrapper {
    width: 100%;
    font-size: 1.4rem;
    padding: 0 1.6rem;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
  }
  .tab_wrapper .tabSwiper {
    display: block;
    padding: 2rem 0;
  }
  .tab_wrapper .tabSwiper .swiper-slide {
    width: auto !important;
    padding: 0 4px;
  }
  .tab_slide_button {
    background: transparent;
    color: var(--gray-300);
    border: none;
    padding: 0.8rem;
    border-radius: 3rem;
    font-size: 1.4rem;
  }
  .tab_slide_button.active {
    background: var(--primary);
    color: #fff;
  }
  .tab {
    gap: 0;
    display: none;
  }
  .runway_feature_img,
  .stream_wrap .runway_feature_img {
    width: 100%;
    margin: 0 auto;
  }
  .runway_feature_wrap p {
    word-break: keep-all;
    font-size: 1.5rem;
  }
  .project_wrap {
    margin-top: 8rem;
  }
  .monitoring_wrap {
    margin-top: 0rem;
  }
  .user_wrap {
    margin-top: 8rem;
  }

  .runway_feature_video {
    width: 100%;
  }
  .single_title_wrap {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    padding: 0 1.6rem;
  }
  .runway_feature_wrap {
    width: 100%;
    gap: 4rem;
    padding: 0rem 1.6rem;
  }
  .runway_feature_left,
  .runway_feature_right {
  }
  .dataset_right,
  .pipeline_right,
  .stream_wrap {
    margin-top: 8rem;
  }

  .quick_banner {
    padding: 0rem 1.6rem 8rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4rem;
  }
  .quick_banner_wrapper {
    width: 100%;
  }
  .runwaypage_003_flex {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  .runwaypage_003_flex > div {
    font-size: 16vw;
  }
  .quick_banner_card_wrapper {
    width: 100%;
    overflow: unset;
  }
  .banner_main_title_wrapper {
    position: relative;
    top: 5rem;
    right: 0;
  }
  .banner_maintext {
    font-size: 4rem;
  }
  .design_system_text {
    width: 100%;
    color: #fff;
    opacity: 0.6 !important;
    padding: 0 1.6rem;
    font-size: 1.5rem;
    line-height: 130%;
    box-sizing: border-box;
  }
  .tab_wrapper .swiper-slide {
    width: auto !important;
    padding: 0 4px;
  }
  .tab_flow004 {
    width: 100%;
  }
  .tab_flow004 img {
    width: 100%;
  }
}
