@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

html {
  font-size: 10px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}
body {
  background: #000;
  overflow-x: hidden;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mo_span {
  display: block;
}
.mt_8 {
  margin-top: 0.8rem;
}
.runway_001 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #0e0d1f url(../images/runway/runway_001.jpg) center / 100% 100%
    no-repeat;
  object-fit: cover;
  overflow: hidden;
}
.runway_001_main {
  width: 50vw;
  height: 50vw;
  background: url(../images/runway/runway_001_main.png) center / 100% auto
    no-repeat;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
}
.runway_subject_title {
  font-size: 2rem;
  font-weight: 500;
  color: #ced1d5;
  text-align: center;
}
.runway_title {
  margin-top: 3.2rem;
  font-size: 4vw;
  line-height: 1.3;
  text-align: center;
  font-weight: 500;
  color: #ced1d5;
}
.runway_title span {
  color: #8686fd;
}
.runway_p {
  color: #ced1d5;
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 1.5;
  word-break: keep-all;
  text-align: center;
  opacity: 1;
}
.runway_wrap {
  display: flex;
  justify-content: space-between;
}
.runway_loop {
  display: flex;
  flex-direction: column;
  background: #000;
  align-items: center;
  padding: 8rem 0;
}
.runway_loop video {
  width: 80vw;
  max-width: 120rem;
  margin: 0 auto;
}
.black_gra {
  width: 100%;
  height: 30vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.runway_002 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background: linear-gradient(180deg, #020202 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(
      94.64% 94.64% at 50% 5.36%,
      #160881 0%,
      #3f54c5 54.17%,
      #a32db6 100%
    );
}
.runway_logo {
  position: absolute;
  top: 5vh;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 10vw;
  z-index: 100;
}
.runway_logo img {
  width: 100%;
}
.runway_logo2 {
  top: 50%;
  left: 50%;
}
.runway_p001 {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  word-break: keep-all;
  z-index: 100;
}
.runway_003 {
  display: flex;
  color: #ced1d5;
  overflow: hidden;
  padding: 8rem 0;
  background: linear-gradient(180deg, #a22db5 0%, #000 30.73%);
  height: 100vh;
}
.runway_003 > div {
  display: flex;
  flex-direction: column;
  width: 120rem;
  margin: 0 auto;
  gap: 12rem;
  justify-content: center;
}
.runway_003_main_img {
  max-width: 30rem;
}
.runway_003_main_img img {
  width: 100%;
}
.runway_background_text_wrap {
  display: flex;
  flex-direction: column;
  gap: 7vh;
}
.runway_background_text_wrap .bg_title {
  font-size: 4rem;
  font-weight: 700;
}
.runway_background_text_wrap p {
  font-size: 2rem;
  margin-top: 0.8rem;
  line-height: 1.5;
  max-width: 57rem;
  color: #a1a1a6;
  word-break: keep-all;
}
.runway_bg_text01 {
  background: -webkit-linear-gradient(0deg, #8686fd, #a884d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.runway_bg_text02 {
  background: -webkit-linear-gradient(0deg, #a884d4, #cd81a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.runway_bg_text03 {
  background: -webkit-linear-gradient(0deg, #cd81a9, #ffa59c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.runway_bg_text04 {
  background: -webkit-linear-gradient(0deg, #ffa59c, #ffcec9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.runway_004 {
  background: linear-gradient(181deg, #000000 0%, #0d0d32 69.73%);
  padding: 8rem 0;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.runway_004 .swiper {
  margin-top: 10rem;
  max-width: 140rem;
  min-height: 40vh;
  color: #ced1d5;
  text-align: left;
}
.persona_container {
  display: flex;
  color: #ced1d5;
  width: 140rem;
  gap: 4rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.persona_wrap {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  text-align: left;
}
.persona_left {
  display: flex;
  flex-direction: column;
  width: 18rem;
  align-items: flex-start;
}
.persona_img {
  width: 10rem;
  margin-bottom: 2rem;
}
.persona_img img {
  width: 100%;
}
.persona_name {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.persona_job_wrap {
}
.persona_job {
  background: #944af2;
  color: #000;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 4px 12px;
  border-radius: 30px;
  display: inline-block;
}
.persona_target_title {
  margin-top: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.persona_sub_title {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  opacity: 0.5;
  font-weight: 500;
}
.persona_right p {
  font-size: 1.3rem;
  line-height: 1.5;
}
.runway_004 > div:nth-child(3) {
  margin-top: 8rem;
}
.runway_005 {
  display: flex;
  color: #fff;
}
.runway_005 .head {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
  background-color: #0e0d32;
}
.swiper-pagination-bullet {
  background: #fff !important;
}
.content-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 400px;
  width: 50%;
  font-size: 40px;
  padding-left: 5em;
}

.numbers-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.heading {
  opacity: 0;
  position: absolute;
  top: 2em;
}

.scroll-num {
  width: 30vw;
  opacity: 0;
  position: absolute;
  top: 1em;
  font-size: 66px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .mo_span {
    display: inline;
  }
  .runway_001 {
    width: 100vw;

    background: url(../images/runway001.jpg) center 0 / auto 80vh no-repeat;
  }
  .runway_001_main {
    display: none;
  }
  .runway_logo {
    left: 20%;
    top: 8vh;
    width: 40%;
  }
  .runway_logo img {
    width: 100%;
  }
  .black_gra {
    height: 40vh;
    bottom: 20vh;
  }
  .runway_p001 {
    padding: 0 20px;
    bottom: 8vh;
    width: 100%;
    min-width: 100%;
    font-size: 1.4rem;
    text-align: center;
    box-sizing: border-box;
  }
  .runway_logo2 {
    width: 70%;
  }
  .runway_logo2 img {
    width: 100%;
  }
  .runway_003 {
    width: 100%;
    padding: 0 1.6rem;
    box-sizing: border-box;
  }
  .runway_003_main_img {
    display: none;
  }
  .runway_background_text_wrap .bg_title {
    font-size: 3.2rem;
  }
  .runway_background_text_wrap p {
    font-size: 1.5rem;
    word-break: keep-all;
  }
  .runway_003 > div {
    gap: 6vh;
  }
  .runway_004 {
    width: 100%;
    padding: 0 1.6rem;
    box-sizing: border-box;
  }
  .runway_004 .swiper {
    margin-top: 4rem;
    height: 80vh;
  }
  .persona_wrap {
    flex-direction: column;
    align-items: center;
  }
  .persona_left {
    align-items: center;
  }
}
